.boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}
.tabsList {
    &[aria-orientation='horizontal'] {
        padding: 0;
    }

    & > button[data-orientation='horizontal'] {
        z-index: 1;
    }
}

.tabsPanel {
    padding: 2.5rem 0 0 0;
}

.button {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-300);
    overflow: hidden;
    width: 200px;
    background-color: transparent;
    padding: 0;
}
.palette {
    width: 100%;
    height: 6.625rem /* 106px -> 6.625rem */;
    border-bottom: 1px solid var(--border-color);
}
.descriptions {
    width: 100%;
    height: 100%;
    padding: 0.5rem 0.75rem /* 12px -> .75rem */;
    gap: 0.25rem /* 4px -> .25rem */;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.description {
    text-wrap: wrap;
}
