:root[data-theme="light"] {
  /* === Primitive Tokens === */
  --vapor-color-background-main: oklch(1.0000000000000002 0 none);
  --vapor-color-background-main: #ffffff;
  --vapor-color-red-50: oklch(0.9554761440572438 0.022016606375572473 24.43757844418802);
  --vapor-color-red-50: #ffebe9;
  --vapor-color-red-100: oklch(0.9161161996176277 0.04293784472575113 25.052873747051645);
  --vapor-color-red-100: #ffd9d5;
  --vapor-color-red-200: oklch(0.836570248482343 0.0827186361494269 25.397523093436217);
  --vapor-color-red-200: #fbb5ae;
  --vapor-color-red-300: oklch(0.7325494251878193 0.13589941728483498 25.26657589182445);
  --vapor-color-red-300: #f2847c;
  --vapor-color-red-400: oklch(0.6723485976030222 0.1674510289158229 25.166427548323114);
  --vapor-color-red-400: #eb655f;
  --vapor-color-red-500: oklch(0.5932227831891341 0.2076116270549607 25.283009133468816);
  --vapor-color-red-500: #df3337;
  --vapor-color-red-600: oklch(0.5022839788977329 0.1798624004475559 26.370816720675307);
  --vapor-color-red-600: #b42425;
  --vapor-color-red-700: oklch(0.43819619049522246 0.16095977717529525 27.069546597570252);
  --vapor-color-red-700: #971919;
  --vapor-color-red-800: oklch(0.3605224742225756 0.13756825206569334 28.037190468655815);
  --vapor-color-red-800: #750c0b;
  --vapor-color-red-900: oklch(0.28411735137147137 0.11402713624566282 29.300984452569153);
  --vapor-color-red-900: #550201;
  --vapor-color-pink-50: oklch(0.9552263606139054 0.023717262318948835 1.3333022290235512);
  --vapor-color-pink-50: #ffeaef;
  --vapor-color-pink-100: oklch(0.9166225363463171 0.04379780964182108 2.0341361057473852);
  --vapor-color-pink-100: #fed8e1;
  --vapor-color-pink-200: oklch(0.8390717021063726 0.08307678137351193 1.8614557608505282);
  --vapor-color-pink-200: #f9b4c6;
  --vapor-color-pink-300: oklch(0.7350812660965398 0.13716796609920537 2.2767489197172344);
  --vapor-color-pink-300: #ef82a2;
  --vapor-color-pink-400: oklch(0.6736825314410912 0.16962006145555178 2.0718064398897944);
  --vapor-color-pink-400: #e7628e;
  --vapor-color-pink-500: oklch(0.5949055780435306 0.20904641556517725 2.403581908745328);
  --vapor-color-pink-500: #da3074;
  --vapor-color-pink-600: oklch(0.5050709860324931 0.18203788597492584 5.8015145893971685);
  --vapor-color-pink-600: #b22055;
  --vapor-color-pink-700: oklch(0.43940070604537906 0.16085463604649913 8.668827867889721);
  --vapor-color-pink-700: #951640;
  --vapor-color-pink-800: oklch(0.3643268076239602 0.13745296823403447 12.250094608786496);
  --vapor-color-pink-800: #750a2a;
  --vapor-color-pink-900: oklch(0.28740905822888535 0.11235612474942018 15.626539901322744);
  --vapor-color-pink-900: #550217;
  --vapor-color-grape-50: oklch(0.9563162717393175 0.028074545429012207 318.68786817258626);
  --vapor-color-grape-50: #f9ebfd;
  --vapor-color-grape-100: oklch(0.9153034145559769 0.056114964448682345 317.6626876587097);
  --vapor-color-grape-100: #f3d8fc;
  --vapor-color-grape-200: oklch(0.8403915937369759 0.10507815055259255 318.4257493151738);
  --vapor-color-grape-200: #e8b5f7;
  --vapor-color-grape-300: oklch(0.7376849835087119 0.17266266338896905 318.4459767948824);
  --vapor-color-grape-300: #d783ef;
  --vapor-color-grape-400: oklch(0.6792310448566543 0.21264959874615677 318.51915870858693);
  --vapor-color-grape-400: #cd63ea;
  --vapor-color-grape-500: oklch(0.6026664888644563 0.2622262426856313 318.3347770607941);
  --vapor-color-grape-500: #be2de2;
  --vapor-color-grape-600: oklch(0.5117564304841539 0.22903208416541584 316.4133030662134);
  --vapor-color-grape-600: #971fbb;
  --vapor-color-grape-700: oklch(0.44555774188460545 0.2030044718614618 315.17310378605583);
  --vapor-color-grape-700: #7c169e;
  --vapor-color-grape-800: oklch(0.36887709171486144 0.17372849788254716 313.1163770423845);
  --vapor-color-grape-800: #5e0b7e;
  --vapor-color-grape-900: oklch(0.29066608984232273 0.1446104344686324 311.2773448803605);
  --vapor-color-grape-900: #42015e;
  --vapor-color-violet-50: oklch(0.9529336998596938 0.024129444711293597 291.04325744913507);
  --vapor-color-violet-50: #efedff;
  --vapor-color-violet-100: oklch(0.9146899092647088 0.04491684467483381 292.44038282113456);
  --vapor-color-violet-100: #e3deff;
  --vapor-color-violet-200: oklch(0.8329840556416234 0.09070801693271008 292.06724965945796);
  --vapor-color-violet-200: #c9beff;
  --vapor-color-violet-300: oklch(0.7309190055648987 0.15250076757722317 292.0752514168827);
  --vapor-color-violet-300: #ab94ff;
  --vapor-color-violet-400: oklch(0.6687802310109152 0.18873631271369837 292.0242230120401);
  --vapor-color-violet-400: #9a79fd;
  --vapor-color-violet-500: oklch(0.5930377241287407 0.23207591912639344 291.98673497097116);
  --vapor-color-violet-500: #8754f9;
  --vapor-color-violet-600: oklch(0.5032128239846163 0.21052400037627134 290.6159486314598);
  --vapor-color-violet-600: #6a3ed0;
  --vapor-color-violet-700: oklch(0.44093633036198965 0.19510423275004118 289.6529509349831);
  --vapor-color-violet-700: #572fb4;
  --vapor-color-violet-800: oklch(0.36571921786596906 0.1760692826089878 288.18347152691064);
  --vapor-color-violet-800: #411d93;
  --vapor-color-violet-900: oklch(0.29120878367557146 0.15862643726550582 286.5873756880428);
  --vapor-color-violet-900: #2d0874;
  --vapor-color-blue-50: oklch(0.9527994874609885 0.02239998981375788 260.723283071611);
  --vapor-color-blue-50: #e7f0ff;
  --vapor-color-blue-100: oklch(0.9091852209487737 0.0437975585818607 261.1699842734924);
  --vapor-color-blue-100: #d1e2ff;
  --vapor-color-blue-200: oklch(0.8268393803057015 0.0861195155213542 262.0620478138984);
  --vapor-color-blue-200: #a8c7ff;
  --vapor-color-blue-300: oklch(0.7192497280679507 0.13906757870050787 261.7676832187808);
  --vapor-color-blue-300: #73a3fb;
  --vapor-color-blue-400: oklch(0.656748964609446 0.17050668962682733 261.7499531610581);
  --vapor-color-blue-400: #548df8;
  --vapor-color-blue-500: oklch(0.5773043073621614 0.21029262102652074 261.70416883825885);
  --vapor-color-blue-500: #2a6ff3;
  --vapor-color-blue-600: oklch(0.4915247402304223 0.19706552504262545 262.19706188003687);
  --vapor-color-blue-600: #1955ce;
  --vapor-color-blue-700: oklch(0.4295315474803068 0.18950207215868972 262.7528558182251);
  --vapor-color-blue-700: #0d42b5;
  --vapor-color-blue-800: oklch(0.35792352591919097 0.17728072948514273 263.15793581507785);
  --vapor-color-blue-800: #022d97;
  --vapor-color-blue-900: oklch(0.28656312377796 0.16706207564235878 264.0218613184225);
  --vapor-color-blue-900: #00167b;
  --vapor-color-cyan-50: oklch(0.9495170014965046 0.01102563457754665 225.9833641493083);
  --vapor-color-cyan-50: #e7f0f4;
  --vapor-color-cyan-100: oklch(0.908250520677881 0.02054851818189886 224.31466074468307);
  --vapor-color-cyan-100: #d3e4eb;
  --vapor-color-cyan-200: oklch(0.8245843524482228 0.04059290294809797 223.00397568172852);
  --vapor-color-cyan-200: #aaccd9;
  --vapor-color-cyan-300: oklch(0.7126953395857268 0.0667573327413068 223.14564509664612);
  --vapor-color-cyan-300: #73acc1;
  --vapor-color-cyan-400: oklch(0.6456152933518022 0.08172213175769812 222.72058492783407);
  --vapor-color-cyan-400: #5099b2;
  --vapor-color-cyan-500: oklch(0.5610512058097368 0.10108287390452785 223.29484232299225);
  --vapor-color-cyan-500: #1181a0;
  --vapor-color-cyan-600: oklch(0.4749246055618605 0.09087890284975059 229.54876140712048);
  --vapor-color-cyan-600: #0b6585;
  --vapor-color-cyan-700: oklch(0.41355714625773365 0.08276064191445767 233.60522473869958);
  --vapor-color-cyan-700: #085271;
  --vapor-color-cyan-800: oklch(0.34187501596936604 0.07209828554101022 237.63852833988807);
  --vapor-color-cyan-800: #053d59;
  --vapor-color-cyan-900: oklch(0.2696478253438309 0.06238399978822838 242.6211795568965);
  --vapor-color-cyan-900: #022942;
  --vapor-color-green-50: oklch(0.9497905536901119 0.011326596520718038 176.30788948179435);
  --vapor-color-green-50: #e7f1ee;
  --vapor-color-green-100: oklch(0.910104183418071 0.02028495034884979 177.41182552903922);
  --vapor-color-green-100: #d4e6e1;
  --vapor-color-green-200: oklch(0.8233239249592073 0.03930695689603431 177.96036458640438);
  --vapor-color-green-200: #abcec5;
  --vapor-color-green-300: oklch(0.7084864665524961 0.066301212632062 176.8065072582646);
  --vapor-color-green-300: #73afa0;
  --vapor-color-green-400: oklch(0.6414071343522739 0.08173903916648613 176.4053322090292);
  --vapor-color-green-400: #509d8b;
  --vapor-color-green-500: oklch(0.555619041346616 0.10049849081610786 176.9819667308007);
  --vapor-color-green-500: #0d8672;
  --vapor-color-green-600: oklch(0.46891729772475244 0.08676114071508768 174.2854842439886);
  --vapor-color-green-600: #086a57;
  --vapor-color-green-700: oklch(0.40831377897568916 0.07610362612585231 173.1162199918627);
  --vapor-color-green-700: #065746;
  --vapor-color-green-800: oklch(0.3348332399081979 0.0640199314002599 170.82992935340414);
  --vapor-color-green-800: #034132;
  --vapor-color-green-900: oklch(0.2643287408919002 0.05265912257481597 167.89852457126494);
  --vapor-color-green-900: #012d20;
  --vapor-color-lime-50: oklch(0.947675918642502 0.04991988457744508 129.60704755296342);
  --vapor-color-lime-50: #e3f5d2;
  --vapor-color-lime-100: oklch(0.9013053940762473 0.09674495200791901 130.28023848255359);
  --vapor-color-lime-100: #c9eca8;
  --vapor-color-lime-200: oklch(0.8125382889685385 0.18231296777585446 129.91661256143252);
  --vapor-color-lime-200: #9ad84a;
  --vapor-color-lime-300: oklch(0.7018144199784162 0.1823843836166109 132.0665638896012);
  --vapor-color-lime-300: #72b523;
  --vapor-color-lime-400: oklch(0.63789475698824 0.1686534705672966 133.45775204146835);
  --vapor-color-lime-400: #5fa01f;
  --vapor-color-lime-500: oklch(0.5563996210196029 0.1524407167806546 135.50062402919136);
  --vapor-color-lime-500: #478618;
  --vapor-color-lime-600: oklch(0.4666333620935353 0.1334995908570008 137.6368085006495);
  --vapor-color-lime-600: #2f6a10;
  --vapor-color-lime-700: oklch(0.40718250023538516 0.1208843356373191 139.05981552024315);
  --vapor-color-lime-700: #20580a;
  --vapor-color-lime-800: oklch(0.33571415298600565 0.10577024442717674 140.51409585999176);
  --vapor-color-lime-800: #0f4303;
  --vapor-color-lime-900: oklch(0.26095758518704615 0.0887971867952815 142.49534504144387);
  --vapor-color-lime-900: #002e00;
  --vapor-color-yellow-50: oklch(0.9481821664118983 0.05196112099404032 85.10826990367471);
  --vapor-color-yellow-50: #feecc7;
  --vapor-color-yellow-100: oklch(0.9119580654079665 0.0869389697277304 84.56864050313101);
  --vapor-color-yellow-100: #fdde9f;
  --vapor-color-yellow-200: oklch(0.82972156758219 0.16650642152861944 83.8413894779048);
  --vapor-color-yellow-200: #fabc18;
  --vapor-color-yellow-300: oklch(0.7238628907922672 0.1514004986533177 77.07450737335719);
  --vapor-color-yellow-300: #da9700;
  --vapor-color-yellow-400: oklch(0.6587924401607322 0.14111166469553119 71.94088750244096);
  --vapor-color-yellow-400: #c68100;
  --vapor-color-yellow-500: oklch(0.5748109340233151 0.12740877788914293 66.59221476150377);
  --vapor-color-yellow-500: #aa6700;
  --vapor-color-yellow-600: oklch(0.4907023053156487 0.11287198956687423 61.644295642634745);
  --vapor-color-yellow-600: #8d4f01;
  --vapor-color-yellow-700: oklch(0.42528031238046443 0.1020146608078433 56.74893760084706);
  --vapor-color-yellow-700: #773d02;
  --vapor-color-yellow-800: oklch(0.3527925571157399 0.08914986447023249 52.560366262203694);
  --vapor-color-yellow-800: #5e2b01;
  --vapor-color-yellow-900: oklch(0.27886548516046766 0.07785313672329983 46.42877998846356);
  --vapor-color-yellow-900: #461900;
  --vapor-color-orange-50: oklch(0.9549391804531849 0.02023775288273028 40.53477394585953);
  --vapor-color-orange-50: #fdece6;
  --vapor-color-orange-100: oklch(0.9141607028502358 0.03770325522123687 40.54577989035554);
  --vapor-color-orange-100: #fadbd0;
  --vapor-color-orange-200: oklch(0.83345328047697 0.07310026402539004 39.858035561081216);
  --vapor-color-orange-200: #f3b9a5;
  --vapor-color-orange-300: oklch(0.7286194700455608 0.12016837223005541 40.059098956204956);
  --vapor-color-orange-300: #e78c6c;
  --vapor-color-orange-400: oklch(0.6677995959955567 0.14650194903518216 39.97459807798221);
  --vapor-color-orange-400: #de714a;
  --vapor-color-orange-500: oklch(0.5875583551925992 0.18274681176168361 39.89608695392514);
  --vapor-color-orange-500: #d14905;
  --vapor-color-orange-600: oklch(0.4989277497220175 0.16203124232410854 37.03955900452574);
  --vapor-color-orange-600: #ab3408;
  --vapor-color-orange-700: oklch(0.4350259462195144 0.14632532292494488 35.13125152566222);
  --vapor-color-orange-700: #902607;
  --vapor-color-orange-800: oklch(0.36048970829254695 0.1294944431006995 32.53046182947083);
  --vapor-color-orange-800: #721504;
  --vapor-color-orange-900: oklch(0.28442364337319875 0.11067488927420374 30.347604074835505);
  --vapor-color-orange-900: #540501;
  --vapor-color-gray-50: oklch(0.9521308451894797 0 none);
  --vapor-color-gray-50: #efefef;
  --vapor-color-gray-100: oklch(0.9097468267956337 0 none);
  --vapor-color-gray-100: #e1e1e1;
  --vapor-color-gray-200: oklch(0.8265622095662102 0 none);
  --vapor-color-gray-200: #c6c6c6;
  --vapor-color-gray-300: oklch(0.7154735289549714 0 none);
  --vapor-color-gray-300: #a3a3a3;
  --vapor-color-gray-400: oklch(0.6500412692222284 0 none);
  --vapor-color-gray-400: #8f8f8f;
  --vapor-color-gray-500: oklch(0.5658363307995767 0 none);
  --vapor-color-gray-500: #767676;
  --vapor-color-gray-600: oklch(0.478359140788322 0 none);
  --vapor-color-gray-600: #5d5d5d;
  --vapor-color-gray-700: oklch(0.41653969239784205 0 none);
  --vapor-color-gray-700: #4c4c4c;
  --vapor-color-gray-800: oklch(0.34458382051778663 0 none);
  --vapor-color-gray-800: #393939;
  --vapor-color-gray-900: oklch(0.26861827698438745 0 none);
  --vapor-color-gray-900: #262626;

  /* === Semantic Tokens === */
  --vapor-color-background-layer1: var(--vapor-color-gray-50);
  --vapor-color-background-layer2: var(--vapor-color-gray-100);
}