:root[data-theme="dark"] {
  /* === Primitive Tokens === */
  --vapor-color-background-main: oklch(0.25615330860684143 0 none);
  --vapor-color-background-main: #232323;
  --vapor-color-red-50: oklch(0.31761522194226777 0.12492526786555003 28.725182838039164);
  --vapor-color-red-50: #630504;
  --vapor-color-red-100: oklch(0.35090362132210523 0.13497345233761862 28.18668215280864);
  --vapor-color-red-100: #710a09;
  --vapor-color-red-200: oklch(0.4181797238050152 0.15467992359870514 27.487043939671274);
  --vapor-color-red-200: #8e1615;
  --vapor-color-red-300: oklch(0.5124736202685584 0.18368672884958653 26.115584517203704);
  --vapor-color-red-300: #b92527;
  --vapor-color-red-400: oklch(0.5720079490212513 0.2016113269314067 25.367948454703704);
  --vapor-color-red-400: #d52f33;
  --vapor-color-red-500: oklch(0.6520248893012784 0.1774105206117417 25.28750410829091);
  --vapor-color-red-500: #e85a55;
  --vapor-color-red-600: oklch(0.7425140628556401 0.13068779462005478 25.79099377563617);
  --vapor-color-red-600: #f38980;
  --vapor-color-red-700: oklch(0.8152905348480717 0.09445739628646277 25.733367237892857);
  --vapor-color-red-700: #faaba3;
  --vapor-color-red-800: oklch(0.9012553223638421 0.051196973113222605 24.091627265620755);
  --vapor-color-red-800: #ffd2ce;
  --vapor-color-red-900: oklch(0.9845235788422274 0.007492983081906818 17.283830265844625);
  --vapor-color-red-900: #fff8f8;
  --vapor-color-pink-50: oklch(0.3164456500518801 0.12219631920659108 14.174717266625722);
  --vapor-color-pink-50: #61041e;
  --vapor-color-pink-100: oklch(0.35005168882151144 0.1328519674677959 13.044252907395837);
  --vapor-color-pink-100: #6f0826;
  --vapor-color-pink-200: oklch(0.4207364870499042 0.15504587624061403 9.714125476753837);
  --vapor-color-pink-200: #8d133a;
  --vapor-color-pink-300: oklch(0.5141466753250031 0.18421892206684057 5.960353192191711);
  --vapor-color-pink-300: #b62257;
  --vapor-color-pink-400: oklch(0.5746527977789355 0.20339298171185924 3.0314782712002315);
  --vapor-color-pink-400: #d12c6d;
  --vapor-color-pink-500: oklch(0.6537823014659816 0.17954350472224834 2.338820976603275);
  --vapor-color-pink-500: #e45787;
  --vapor-color-pink-600: oklch(0.7432999032145085 0.13310321699819455 2.119272267904765);
  --vapor-color-pink-600: #f086a5;
  --vapor-color-pink-700: oklch(0.8153480009260589 0.09474636993449403 2.615727219832344);
  --vapor-color-pink-700: #f7a9bd;
  --vapor-color-pink-800: oklch(0.9013672797927254 0.051290884663450935 1.4264266570116566);
  --vapor-color-pink-800: #fdd1dc;
  --vapor-color-pink-900: oklch(0.984800875331734 0.007586987912049291 7.280361016689305);
  --vapor-color-pink-900: #fff8f9;
  --vapor-color-grape-50: oklch(0.3237965455072813 0.15700270238590747 312.54517690148714);
  --vapor-color-grape-50: #4e046b;
  --vapor-color-grape-100: oklch(0.35751121822480453 0.16938906912903187 313.09359688218626);
  --vapor-color-grape-100: #5a0979;
  --vapor-color-grape-200: oklch(0.42578535372757065 0.19584507562887304 314.52632260952646);
  --vapor-color-grape-200: #741396;
  --vapor-color-grape-300: oklch(0.5194444642636997 0.2309305392114458 316.55429768525295);
  --vapor-color-grape-300: #9a21be;
  --vapor-color-grape-400: oklch(0.5821769549052065 0.25606872660512664 317.7240687933162);
  --vapor-color-grape-400: #b529da;
  --vapor-color-grape-500: oklch(0.6588005437612257 0.22578396559813296 318.42344020566605);
  --vapor-color-grape-500: #c957e8;
  --vapor-color-grape-600: oklch(0.7479337303768678 0.1664663182176898 318.51721666163917);
  --vapor-color-grape-600: #d988f0;
  --vapor-color-grape-700: oklch(0.8154311082951633 0.1225970903340507 318.1373336222902);
  --vapor-color-grape-700: #e4a9f6;
  --vapor-color-grape-800: oklch(0.9021520863307855 0.06422419083813263 317.87080878400513);
  --vapor-color-grape-800: #f1d2fb;
  --vapor-color-grape-900: oklch(0.9849436402571806 0.010599465119916518 316.4927062863894);
  --vapor-color-grape-900: #fdf8ff;
  --vapor-color-violet-50: oklch(0.32084295139043134 0.165373777959897 287.4704914808904);
  --vapor-color-violet-50: #351180;
  --vapor-color-violet-100: oklch(0.35526182320695165 0.17438953189103124 287.8655907332972);
  --vapor-color-violet-100: #3e1a8f;
  --vapor-color-violet-200: oklch(0.42265205130586836 0.19027710046833177 288.98930111783704);
  --vapor-color-violet-200: #512bac;
  --vapor-color-violet-300: oklch(0.513391739390243 0.21169465122137734 290.72055892407286);
  --vapor-color-violet-300: #6d41d4;
  --vapor-color-violet-400: oklch(0.5719542853501558 0.22647466054991794 291.6749977604019);
  --vapor-color-violet-400: #804fef;
  --vapor-color-violet-500: oklch(0.6491639858567717 0.19991790079289062 292.0759509129388);
  --vapor-color-violet-500: #9570fc;
  --vapor-color-violet-600: oklch(0.7379560716704561 0.1480995788389702 292.0919470304199);
  --vapor-color-violet-600: #ad97ff;
  --vapor-color-violet-700: oklch(0.8111939895548131 0.10393108669313877 292.60430756117825);
  --vapor-color-violet-700: #c3b5ff;
  --vapor-color-violet-800: oklch(0.8992417558270595 0.05335223554866531 292.34828180724594);
  --vapor-color-violet-800: #ded8ff;
  --vapor-color-violet-900: oklch(0.9845767581731849 0.007986879615473098 293.9143706462488);
  --vapor-color-violet-900: #faf9ff;
  --vapor-color-blue-50: oklch(0.31562188692504417 0.17062164511555344 263.60025108206844);
  --vapor-color-blue-50: #002086;
  --vapor-color-blue-100: oklch(0.345069586271548 0.17565747720065672 263.28148209032804);
  --vapor-color-blue-100: #012992;
  --vapor-color-blue-200: oklch(0.411762925281828 0.185560319022781 262.8385850525093);
  --vapor-color-blue-200: #0a3dad;
  --vapor-color-blue-300: oklch(0.4993420829318715 0.199459212030663 262.3233592125591);
  --vapor-color-blue-300: #1b57d2;
  --vapor-color-blue-400: oklch(0.5573172883288902 0.2067119414469517 261.7700219058486);
  --vapor-color-blue-400: #2669ea;
  --vapor-color-blue-500: oklch(0.6350120480327811 0.18181442815652088 261.7882129443361);
  --vapor-color-blue-500: #4985f7;
  --vapor-color-blue-600: oklch(0.7286938084989336 0.1352541960133199 262.1416727960756);
  --vapor-color-blue-600: #78a6fc;
  --vapor-color-blue-700: oklch(0.8024178518137641 0.09765736820043965 261.89116572024807);
  --vapor-color-blue-700: #9cbffe;
  --vapor-color-blue-800: oklch(0.8942612206814806 0.051205138215654485 262.11848697589994);
  --vapor-color-blue-800: #caddff;
  --vapor-color-blue-900: oklch(0.9835063920686429 0.007909712986150121 253.85192026157367);
  --vapor-color-blue-900: #f6faff;
  --vapor-color-cyan-50: oklch(0.29889455484654726 0.06597810200826353 240.19312710063645);
  --vapor-color-cyan-50: #03314b;
  --vapor-color-cyan-100: oklch(0.3314625885236909 0.07132866387473534 238.58328577243222);
  --vapor-color-cyan-100: #043a56;
  --vapor-color-cyan-200: oklch(0.39601307751108644 0.0788953805488891 233.24579807197193);
  --vapor-color-cyan-200: #074d6a;
  --vapor-color-cyan-300: oklch(0.4837787547420678 0.09124937541739774 228.00466076983915);
  --vapor-color-cyan-300: #0b6887;
  --vapor-color-cyan-400: oklch(0.5399080495224081 0.09949842092305813 225.11090020861425);
  --vapor-color-cyan-400: #0d7a9a;
  --vapor-color-cyan-500: oklch(0.6243700220111907 0.08746213635038894 223.1064808429657);
  --vapor-color-cyan-500: #4393ae;
  --vapor-color-cyan-600: oklch(0.7207156504365392 0.0642743592527159 224.2597630836411);
  --vapor-color-cyan-600: #78aec3;
  --vapor-color-cyan-700: oklch(0.7992082007251938 0.04685868536424956 221.20761944408227);
  --vapor-color-cyan-700: #9dc5d3;
  --vapor-color-cyan-800: oklch(0.8935134205585149 0.024978733427527083 222.6103011446751);
  --vapor-color-cyan-800: #cbe0e8;
  --vapor-color-cyan-900: oklch(0.9861026196190577 0.0034606112975359145 219.53270806784042);
  --vapor-color-cyan-900: #f8fbfc;
  --vapor-color-green-50: oklch(0.29306706436279345 0.05725130513189675 168.87495937949035);
  --vapor-color-green-50: #023527;
  --vapor-color-green-100: oklch(0.324183229273341 0.06330017161758297 168.66850578785167);
  --vapor-color-green-100: #033e2e;
  --vapor-color-green-200: oklch(0.3919121391276025 0.07349352448830174 172.09490733284426);
  --vapor-color-green-200: #065241;
  --vapor-color-green-300: oklch(0.47847952961611534 0.08806875835788157 174.70396825437984);
  --vapor-color-green-300: #096d5a;
  --vapor-color-green-400: oklch(0.537088049739331 0.0980423268395442 176.36000850407038);
  --vapor-color-green-400: #0a806c;
  --vapor-color-green-500: oklch(0.6196012542512641 0.08575656099347427 177.01082760808006);
  --vapor-color-green-500: #449785;
  --vapor-color-green-600: oklch(0.719465263974098 0.06396354064619998 177.57419274525043);
  --vapor-color-green-600: #78b2a4;
  --vapor-color-green-700: oklch(0.7976103091893307 0.04526276858867872 176.49405062431623);
  --vapor-color-green-700: #9fc7bc;
  --vapor-color-green-800: oklch(0.8924290663640596 0.023786300646567598 176.7698247539048);
  --vapor-color-green-800: #cce1db;
  --vapor-color-green-900: oklch(0.9828364769154087 0.0031846355914120737 197.1055699325261);
  --vapor-color-green-900: #f7fafa;
  --vapor-color-lime-50: oklch(0.2893782418449696 0.09683347345763231 141.76512903226492);
  --vapor-color-lime-50: #033600;
  --vapor-color-lime-100: oklch(0.3248350268859974 0.1042564375126861 140.966485144893);
  --vapor-color-lime-100: #0b4002;
  --vapor-color-lime-200: oklch(0.3904124017923504 0.11738102591156344 139.39298910549644);
  --vapor-color-lime-200: #1c5308;
  --vapor-color-lime-300: oklch(0.47661502293080854 0.135287616159497 137.28959425888212);
  --vapor-color-lime-300: #326d11;
  --vapor-color-lime-400: oklch(0.534264059674855 0.1477898774816467 135.99174923935726);
  --vapor-color-lime-400: #417f16;
  --vapor-color-lime-500: oklch(0.6158931038645321 0.16467640261004754 134.09613252930146);
  --vapor-color-lime-500: #58991d;
  --vapor-color-lime-600: oklch(0.7109669476027932 0.18442713175836983 131.79250713466186);
  --vapor-color-lime-600: #75b823;
  --vapor-color-lime-700: oklch(0.7865238095886687 0.19948789305888265 129.88182776553836);
  --vapor-color-lime-700: #8ed127;
  --vapor-color-lime-800: oklch(0.8852249990406964 0.10970271229743207 129.52078544404367);
  --vapor-color-lime-800: #c2e89a;
  --vapor-color-lime-900: oklch(0.9822789558819567 0.018595599278742627 130.17323341923586);
  --vapor-color-lime-900: #f5fcef;
  --vapor-color-yellow-50: oklch(0.3073646383327485 0.08195634014226297 49.40818866184055);
  --vapor-color-yellow-50: #4f2000;
  --vapor-color-yellow-100: oklch(0.3407030119528478 0.08714601922343969 51.56310369170104);
  --vapor-color-yellow-100: #5a2801;
  --vapor-color-yellow-200: oklch(0.4086900185233967 0.09895245031885637 56.36733913861104);
  --vapor-color-yellow-200: #713901;
  --vapor-color-yellow-300: oklch(0.49723596208029625 0.11369614632046832 62.31855229194427);
  --vapor-color-yellow-300: #8f5101;
  --vapor-color-yellow-400: oklch(0.5543736246409935 0.12398592894195641 65.40358351936007);
  --vapor-color-yellow-400: #a36100;
  --vapor-color-yellow-500: oklch(0.6376982792414241 0.136907095796071 71.52768707307409);
  --vapor-color-yellow-500: #be7b00;
  --vapor-color-yellow-600: oklch(0.7329706891280952 0.15301174345098084 77.58909976732808);
  --vapor-color-yellow-600: #dd9a00;
  --vapor-color-yellow-700: oklch(0.8077115028144697 0.16618243777927955 82.7022647778048);
  --vapor-color-yellow-700: #f4b400;
  --vapor-color-yellow-800: oklch(0.8972347176181447 0.1020689891272563 84.22169372464681);
  --vapor-color-yellow-800: #fdd88d;
  --vapor-color-yellow-900: oklch(0.9840274856429567 0.01467407067211062 80.70847534497061);
  --vapor-color-yellow-900: #fff9ef;
  --vapor-color-orange-50: oklch(0.31509736508062147 0.11848642699787251 31.21685619313451);
  --vapor-color-orange-50: #600b02;
  --vapor-color-orange-100: oklch(0.34857222938903387 0.1260118032464721 32.54340760359962);
  --vapor-color-orange-100: #6d1303;
  --vapor-color-orange-200: oklch(0.41587041619763193 0.14153130278980922 34.679989136599296);
  --vapor-color-orange-200: #882206;
  --vapor-color-orange-300: oklch(0.5081637651433798 0.1643945972416845 37.281648900031975);
  --vapor-color-orange-300: #af3608;
  --vapor-color-orange-400: oklch(0.5668228688494652 0.17781238157993737 39.17930594613842);
  --vapor-color-orange-400: #c84407;
  --vapor-color-orange-500: oklch(0.6468726598404021 0.15632744153147962 39.84053852727462);
  --vapor-color-orange-500: #db673d;
  --vapor-color-orange-600: oklch(0.7377108477973991 0.1154240224621874 39.55312826380949);
  --vapor-color-orange-600: #e89072;
  --vapor-color-orange-700: oklch(0.8104459126797937 0.08374083790982988 39.213663299662166);
  --vapor-color-orange-700: #f1af99;
  --vapor-color-orange-800: oklch(0.8998694455853954 0.044221169852431866 40.86829708680896);
  --vapor-color-orange-800: #f9d5c8;
  --vapor-color-orange-900: oklch(0.9854021252303184 0.005988618514692074 43.3364817001728);
  --vapor-color-orange-900: #fef9f7;
  --vapor-color-gray-50: oklch(0.3011838100535464 0 none);
  --vapor-color-gray-50: #2e2e2e;
  --vapor-color-gray-100: oklch(0.3328899840110902 0 none);
  --vapor-color-gray-100: #363636;
  --vapor-color-gray-200: oklch(0.3979268100502047 0 none);
  --vapor-color-gray-200: #474747;
  --vapor-color-gray-300: oklch(0.4890564485258221 0 none);
  --vapor-color-gray-300: #606060;
  --vapor-color-gray-400: oklch(0.5451691259068346 0 none);
  --vapor-color-gray-400: #707070;
  --vapor-color-gray-500: oklch(0.6300934477406146 0 none);
  --vapor-color-gray-500: #898989;
  --vapor-color-gray-600: oklch(0.7283778541209173 0 none);
  --vapor-color-gray-600: #a7a7a7;
  --vapor-color-gray-700: oklch(0.8015167399412204 0 none);
  --vapor-color-gray-700: #bebebe;
  --vapor-color-gray-800: oklch(0.8944904147418206 0 none);
  --vapor-color-gray-800: #dcdcdc;
  --vapor-color-gray-900: oklch(0.9851036517304731 0 none);
  --vapor-color-gray-900: #fafafa;

  /* === Semantic Tokens === */
  --vapor-color-background-layer1: var(--vapor-color-gray-800);
  --vapor-color-background-layer2: var(--vapor-color-gray-700);
}