.root {
    display: flex;
    width: 100%;

    &[data-orientation='horizontal'] {
        flex-direction: column;
    }

    &[data-orientation='vertical'] {
        flex-direction: row;
    }
}

.list {
    position: relative;

    display: flex;
    align-items: flex-start;
    gap: var(--space-100, 0.5rem);

    &_start {
        justify-content: flex-start;
    }

    &_center {
        justify-content: center;
    }

    &[data-orientation='horizontal'] {
        flex-direction: row;
        flex: 1;

        min-width: min-content;
        max-width: 100%;

        &.list_hasBorder::after {
            content: '';

            position: absolute;
            left: 0;
            bottom: -0.0625rem;

            width: 100%;
            height: 0.0625rem;

            background-color: var(--border-color, #e1e1e8);
        }
    }

    &[data-orientation='vertical'] {
        flex-direction: column;

        padding-block: var(--space-300, 1.5rem);
        border-right: 0.0625rem solid transparent;

        &.list_hasBorder {
            border-right: 0.0625rem solid var(--border-color, #e1e1e8);
        }
    }
}

// 공통 스타일을 믹스인으로 추출
@mixin active-effect($bg-color) {
    content: '';
    position: absolute;
    z-index: 1; // border보다 높은 z-index를 가지고 있어야 함
    background-color: $bg-color;

    transition:
        color 0.12s ease,
        background-color 0.12s ease,
        border-color 0.12s ease,
        box-shadow 0.12s ease;

    @content;
}

@mixin horizontal-effect($bg-color) {
    @include active-effect($bg-color) {
        bottom: -0.0625rem;
        left: 0;

        width: 100%;
        height: 0.125rem;
    }
}

@mixin vertical-effect($bg-color) {
    @include active-effect($bg-color) {
        right: -0.0625rem;
        top: 0;

        width: 0.125rem;
        height: 100%;
    }
}

.tab {
    position: relative;

    color: var(--text-alternative, #525463);
    background-color: transparent;
    border: none;

    &:hover,
    &:focus {
        text-decoration: none;
    }

    transition:
        color 0.12s ease,
        background-color 0.12s ease,
        border-color 0.12s ease,
        box-shadow 0.12s ease;

    &_sm {
        height: var(--dimension-300, 1.5rem);

        &[data-state='active'] > span {
            letter-spacing: var(--letter-spacing-s2, 0);
        }
    }
    &_md {
        height: var(--dimension-400, 2rem);
    }
    &_lg {
        height: var(--dimension-500, 2.5rem);
    }
    &_xl {
        height: var(--dimension-600, 3rem);
    }

    &_stretch {
        flex: 1;
    }

    &:disabled {
        opacity: 0.32;
        color: var(--text-alternative, rgba(82, 84, 99, 1));
        pointer-events: none;
    }

    & > span::before {
        display: block;
        content: attr(title);
        font-weight: var(--font-weight-500);
        height: 0;
        overflow: hidden;
        visibility: hidden;
    }

    &[data-state='active'] {
        & > span {
            font-weight: var(--font-weight-500);
        }
    }

    &[data-orientation='horizontal'] {
        padding: 0 var(--space-050, 0.25rem);

        &::after {
            @include horizontal-effect(transparent);
        }

        &:hover,
        &:focus-visible,
        &[data-state='active'] {
            color: var(--text-primary, #1d6ce0);

            &::after {
                @include horizontal-effect(var(--primary, #448efe));
            }
        }
    }

    &[data-orientation='vertical'] {
        width: 100%;
        padding: 0 var(--space-200, 1rem);

        &::after {
            @include vertical-effect(transparent);
        }

        &:hover,
        &:focus-visible,
        &[data-state='active'] {
            color: var(--text-primary, #1d6ce0);

            &::after {
                @include vertical-effect(var(--primary, #448efe));
            }
        }
    }
}
