.radioButtonGroup {
    display: flex;
    gap: var(--vapor-size-space-100);
    // width: 100%;

    &[data-direction='horizontal'] {
        flex-direction: row;
    }

    &[data-direction='vertical'] {
        flex-direction: column;
    }
}
