.login {
    & .input-label {
        color: var(--vapor-color-foreground-normal-lighter, #525463);

        font-size: var(--vapor-typography-fontSize-050, 0.75rem);
        font-weight: var(--vapor-typography-fontWeight-500);
        line-height: var(--vapor-typography-lineHeight-050, 1.125rem); /* 150% */
        letter-spacing: var(--vapor-typography-letterSpacing-000, 0);
    }

    & .checkbox-label {
        color: var(--vapor-color-foreground-normal, #2b2d36);

        font-size: var(--vapor-typography-fontSize-075, 0.875rem);
        font-weight: var(--vapor-typography-fontWeight-400);
        line-height: var(--vapor-typography-lineHeight-075, 1.375rem); /* 157.143% */
        letter-spacing: var(--vapor-typography-letterSpacing-100, -0.00625rem);
    }

    & .helper-text {
        color: var(--var-color-foreground-hint, #6c6e7e);

        font-size: var(--vapor-typography-fontSize-075, 0.875rem);
        font-weight: var(--vapor-typography-fontWeight-400);
        line-height: var(--vapor-typography-lineHeight-075, 1.375rem); /* 157.143% */
        letter-spacing: var(--vapor-typography-letterSpacing-100, -0.00625rem);
    }
}

.filter {
    .collapsible-trigger {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: transform 150ms ease;
    }

    .trigger-icon {
        transition: transform 150ms ease;

        &:where([data-open] &) {
            transform: rotate(180deg);
        }

        &:where([data-closed] &) {
            transform: rotate(0);
        }
    }

    & .checkbox-label {
        color: var(--vapor-color-foreground-normal, #2b2d36);

        font-size: var(--vapor-typography-fontSize-075, 0.875rem);
        font-weight: var(--vapor-typography-fontWeight-400);
        line-height: var(--vapor-typography-lineHeight-075, 1.375rem); /* 157.143% */
        letter-spacing: var(--vapor-typography-letterSpacing-100, -0.00625rem);
    }

    .radio-label {
        color: var(--vapor-color-foreground-normal, #2b2d36);

        font-size: var(--vapor--typography-fontSize-075, 0.875rem);
        font-weight: var(--vapor--typography-fontWeight-400);
        line-height: var(--vapor--typography-lineHeight-075, 1.375rem); /* 157.143% */
        letter-spacing: var(--vapor-typography-letterSpacing-100, -0.00625rem);
    }
}

.popup {
    border-top-left-radius: var(--vapor-size-borderRadius-300);
    border-top-right-radius: var(--vapor-size-borderRadius-300);
}

.tabs {
    height: 100%;
}
