.card {
    height: 100%;
    transition: box-shadow 0.25s ease;
    cursor: not-allowed;
    min-width: 16.25rem;
}

.link {
    &:hover {
        box-shadow: 0rem 0.25rem 1rem 0rem rgba(0, 0, 0, 0.2);
    }
}

.header {
    margin: 0;
    padding: 0;
    height: auto;
    isolation: isolate;
    left: 0;
    object-fit: contain;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 100%;
    border-bottom: 0;
}

.body {
    display: flex;
    padding: var(--vapor-size-space-300, 1.5rem);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--vapor-size-space-100, 0.5rem);
    align-self: stretch;
}

.componentName {
    display: flex;
    align-items: center;
    gap: var(--vapor-size-space-050);
    align-self: stretch;
}

.image {
    width: 100%; /* Added width to 100% */
    height: auto; /* Maintain aspect ratio */
    border-top-left-radius: var(--vapor-size-borderRadius-300, 0.5rem);
    border-top-right-radius: var(--vapor-size-borderRadius-300, 0.5rem);
    margin: 0;
}
.description {
    word-break: keep-all;
}
