@layer vapor.utilities {
    ._color-primary {
        color: var(--vapor-color-primary);
    }
    ._p-400 {
        padding: var(--vapor-size-space-400);
    }
    @media (--vapor-md) {
        ._md-p-600 {
            padding: var(--vapor-size-space-600);
        }
    }
    ._hover-color-primary:hover {
        color: var(--vapor-color-primary);
    }
}
