.radioGroup {
    display: flex;
    align-items: start;

    &_horizontal {
        flex-direction: row;

        &_md {
            gap: var(--space-200, 1rem);
        }
        &_lg {
            gap: var(--space-250, 1.25rem);
        }
    }
    &_vertical {
        flex-direction: column;

        &_md {
            gap: var(--space-050, 0.25rem);
        }
        &_lg {
            gap: var(--space-100, 0.5rem);
        }
    }
}
