:root {
    --rgb-gray-000: 255, 255, 255;
    --rgb-gray-050: 247, 247, 250;
    --rgb-gray-100: 240, 240, 245;
    --rgb-gray-200: 232, 232, 238;
    --rgb-gray-300: 225, 225, 232;
    --rgb-gray-400: 205, 206, 214;
    --rgb-gray-500: 140, 143, 159;
    --rgb-gray-600: 108, 110, 126;
    --rgb-gray-700: 82, 84, 99;
    --rgb-gray-800: 62, 64, 76;
    --rgb-gray-900: 43, 45, 54;
    --rgb-gray-950: 37, 39, 48;
    --rgb-red-050: 252, 235, 235;
    --rgb-red-100: 249, 214, 215;
    --rgb-red-200: 242, 173, 175;
    --rgb-red-300: 236, 133, 135;
    --rgb-red-400: 229, 92, 95;
    --rgb-red-500: 223, 51, 55;
    --rgb-red-600: 190, 43, 47;
    --rgb-red-700: 156, 36, 39;
    --rgb-red-800: 134, 31, 33;
    --rgb-red-900: 112, 26, 28;
    --rgb-pink-050: 251, 234, 241;
    --rgb-pink-100: 248, 213, 227;
    --rgb-pink-200: 240, 172, 199;
    --rgb-pink-300: 233, 130, 172;
    --rgb-pink-400: 225, 89, 144;
    --rgb-pink-500: 218, 47, 116;
    --rgb-pink-600: 185, 40, 99;
    --rgb-pink-700: 153, 33, 81;
    --rgb-pink-800: 131, 28, 70;
    --rgb-pink-900: 109, 24, 58;
    --rgb-grape-050: 248, 234, 252;
    --rgb-grape-100: 242, 213, 249;
    --rgb-grape-200: 229, 171, 243;
    --rgb-grape-300: 216, 128, 238;
    --rgb-grape-400: 203, 86, 232;
    --rgb-grape-500: 190, 44, 226;
    --rgb-grape-600: 162, 37, 192;
    --rgb-grape-700: 133, 31, 158;
    --rgb-grape-800: 114, 26, 136;
    --rgb-grape-900: 95, 22, 113;
    --rgb-violet-050: 243, 238, 254;
    --rgb-violet-100: 231, 221, 254;
    --rgb-violet-200: 207, 187, 253;
    --rgb-violet-300: 183, 152, 251;
    --rgb-violet-400: 159, 118, 250;
    --rgb-violet-500: 135, 84, 249;
    --rgb-violet-600: 115, 71, 212;
    --rgb-violet-700: 95, 59, 174;
    --rgb-violet-800: 81, 50, 149;
    --rgb-violet-900: 68, 42, 125;
    --rgb-blue-050: 234, 241, 254;
    --rgb-blue-100: 212, 226, 253;
    --rgb-blue-200: 170, 197, 250;
    --rgb-blue-300: 127, 169, 248;
    --rgb-blue-400: 85, 140, 245;
    --rgb-blue-500: 42, 111, 243;
    --rgb-blue-600: 36, 94, 207;
    --rgb-blue-700: 29, 78, 170;
    --rgb-blue-800: 25, 67, 146;
    --rgb-blue-900: 21, 56, 122;
    --rgb-cyan-050: 231, 242, 245;
    --rgb-cyan-100: 207, 230, 236;
    --rgb-cyan-200: 159, 205, 217;
    --rgb-cyan-300: 110, 179, 198;
    --rgb-cyan-400: 62, 154, 179;
    --rgb-cyan-500: 14, 129, 160;
    --rgb-cyan-600: 12, 110, 136;
    --rgb-cyan-700: 10, 90, 112;
    --rgb-cyan-800: 8, 77, 96;
    --rgb-cyan-900: 7, 65, 80;
    --rgb-green-050: 230, 243, 241;
    --rgb-green-100: 206, 231, 227;
    --rgb-green-200: 157, 207, 199;
    --rgb-green-300: 108, 182, 170;
    --rgb-green-400: 59, 158, 142;
    --rgb-green-500: 10, 134, 114;
    --rgb-green-600: 9, 114, 97;
    --rgb-green-700: 7, 94, 80;
    --rgb-green-800: 6, 80, 68;
    --rgb-green-900: 5, 67, 57;
    --rgb-lime-050: 244, 251, 233;
    --rgb-lime-100: 233, 246, 212;
    --rgb-lime-200: 210, 237, 169;
    --rgb-lime-300: 188, 229, 125;
    --rgb-lime-400: 165, 220, 82;
    --rgb-lime-500: 143, 211, 39;
    --rgb-lime-600: 122, 179, 33;
    --rgb-lime-700: 100, 148, 27;
    --rgb-lime-800: 86, 127, 23;
    --rgb-lime-900: 72, 106, 20;
    --rgb-yellow-050: 254, 248, 229;
    --rgb-yellow-100: 254, 241, 204;
    --rgb-yellow-200: 253, 228, 153;
    --rgb-yellow-300: 252, 214, 102;
    --rgb-yellow-400: 251, 201, 51;
    --rgb-yellow-500: 250, 187, 0;
    --rgb-yellow-600: 213, 159, 0;
    --rgb-yellow-700: 175, 131, 0;
    --rgb-yellow-800: 150, 112, 0;
    --rgb-yellow-900: 125, 94, 0;
    --rgb-orange-050: 250, 237, 230;
    --rgb-orange-100: 246, 219, 205;
    --rgb-orange-200: 237, 182, 155;
    --rgb-orange-300: 227, 146, 105;
    --rgb-orange-400: 218, 109, 55;
    --rgb-orange-500: 209, 73, 5;
    --rgb-orange-600: 178, 62, 4;
    --rgb-orange-700: 146, 51, 4;
    --rgb-orange-800: 125, 44, 3;
    --rgb-orange-900: 105, 37, 3;
    --rgb-black: 0, 0, 0;
    --rgb-white: 255, 255, 255;
    --gray-000: rgb(255, 255, 255);
    --gray-050: rgb(247, 247, 250);
    --gray-100: rgb(240, 240, 245);
    --gray-200: rgb(232, 232, 238);
    --gray-300: rgb(225, 225, 232);
    --gray-400: rgb(205, 206, 214);
    --gray-500: rgb(140, 143, 159);
    --gray-600: rgb(108, 110, 126);
    --gray-700: rgb(82, 84, 99);
    --gray-800: rgb(62, 64, 76);
    --gray-900: rgb(43, 45, 54);
    --gray-950: rgb(37, 39, 48);
    --red-050: rgb(252, 235, 235);
    --red-100: rgb(249, 214, 215);
    --red-200: rgb(242, 173, 175);
    --red-300: rgb(236, 133, 135);
    --red-400: rgb(229, 92, 95);
    --red-500: rgb(223, 51, 55);
    --red-600: rgb(190, 43, 47);
    --red-700: rgb(156, 36, 39);
    --red-800: rgb(134, 31, 33);
    --red-900: rgb(112, 26, 28);
    --pink-050: rgb(251, 234, 241);
    --pink-100: rgb(248, 213, 227);
    --pink-200: rgb(240, 172, 199);
    --pink-300: rgb(233, 130, 172);
    --pink-400: rgb(225, 89, 144);
    --pink-500: rgb(218, 47, 116);
    --pink-600: rgb(185, 40, 99);
    --pink-700: rgb(153, 33, 81);
    --pink-800: rgb(131, 28, 70);
    --pink-900: rgb(109, 24, 58);
    --grape-050: rgb(248, 234, 252);
    --grape-100: rgb(242, 213, 249);
    --grape-200: rgb(229, 171, 243);
    --grape-300: rgb(216, 128, 238);
    --grape-400: rgb(203, 86, 232);
    --grape-500: rgb(190, 44, 226);
    --grape-600: rgb(162, 37, 192);
    --grape-700: rgb(133, 31, 158);
    --grape-800: rgb(114, 26, 136);
    --grape-900: rgb(95, 22, 113);
    --violet-050: rgb(243, 238, 254);
    --violet-100: rgb(231, 221, 254);
    --violet-200: rgb(207, 187, 253);
    --violet-300: rgb(183, 152, 251);
    --violet-400: rgb(159, 118, 250);
    --violet-500: rgb(135, 84, 249);
    --violet-600: rgb(115, 71, 212);
    --violet-700: rgb(95, 59, 174);
    --violet-800: rgb(81, 50, 149);
    --violet-900: rgb(68, 42, 125);
    --blue-050: rgb(234, 241, 254);
    --blue-100: rgb(212, 226, 253);
    --blue-200: rgb(170, 197, 250);
    --blue-300: rgb(127, 169, 248);
    --blue-400: rgb(85, 140, 245);
    --blue-500: rgb(42, 111, 243);
    --blue-600: rgb(36, 94, 207);
    --blue-700: rgb(29, 78, 170);
    --blue-800: rgb(25, 67, 146);
    --blue-900: rgb(21, 56, 122);
    --cyan-050: rgb(231, 242, 245);
    --cyan-100: rgb(207, 230, 236);
    --cyan-200: rgb(159, 205, 217);
    --cyan-300: rgb(110, 179, 198);
    --cyan-400: rgb(62, 154, 179);
    --cyan-500: rgb(14, 129, 160);
    --cyan-600: rgb(12, 110, 136);
    --cyan-700: rgb(10, 90, 112);
    --cyan-800: rgb(8, 77, 96);
    --cyan-900: rgb(7, 65, 80);
    --green-050: rgb(230, 243, 241);
    --green-100: rgb(206, 231, 227);
    --green-200: rgb(157, 207, 199);
    --green-300: rgb(108, 182, 170);
    --green-400: rgb(59, 158, 142);
    --green-500: rgb(10, 134, 114);
    --green-600: rgb(9, 114, 97);
    --green-700: rgb(7, 94, 80);
    --green-800: rgb(6, 80, 68);
    --green-900: rgb(5, 67, 57);
    --lime-050: rgb(244, 251, 233);
    --lime-100: rgb(233, 246, 212);
    --lime-200: rgb(210, 237, 169);
    --lime-300: rgb(188, 229, 125);
    --lime-400: rgb(165, 220, 82);
    --lime-500: rgb(143, 211, 39);
    --lime-600: rgb(122, 179, 33);
    --lime-700: rgb(100, 148, 27);
    --lime-800: rgb(86, 127, 23);
    --lime-900: rgb(72, 106, 20);
    --yellow-050: rgb(254, 248, 229);
    --yellow-100: rgb(254, 241, 204);
    --yellow-200: rgb(253, 228, 153);
    --yellow-300: rgb(252, 214, 102);
    --yellow-400: rgb(251, 201, 51);
    --yellow-500: rgb(250, 187, 0);
    --yellow-600: rgb(213, 159, 0);
    --yellow-700: rgb(175, 131, 0);
    --yellow-800: rgb(150, 112, 0);
    --yellow-900: rgb(125, 94, 0);
    --orange-050: rgb(250, 237, 230);
    --orange-100: rgb(246, 219, 205);
    --orange-200: rgb(237, 182, 155);
    --orange-300: rgb(227, 146, 105);
    --orange-400: rgb(218, 109, 55);
    --orange-500: rgb(209, 73, 5);
    --orange-600: rgb(178, 62, 4);
    --orange-700: rgb(146, 51, 4);
    --orange-800: rgb(125, 44, 3);
    --orange-900: rgb(105, 37, 3);
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --rgb-primary: 42, 111, 243;
    --rgb-secondary: 232, 232, 238;
    --rgb-success: 10, 134, 114;
    --rgb-warning: 209, 73, 5;
    --rgb-danger: 223, 51, 55;
    --rgb-hint: 108, 110, 126;
    --rgb-contrast: 62, 64, 76;
    --rgb-foreground-primary: 36, 94, 207;
    --rgb-background-normal: 255, 255, 255;
    --rgb-border-color: 225, 225, 232;
    --rgb-logo-normal: 43, 45, 54;
    --rgb-background-alternative-01: 247, 247, 250;
    --rgb-background-alternative-02: 255, 255, 255;
    --rgb-foreground-primary-on-transparent: 29, 78, 170;
    --rgb-foreground-primary-on-background: 42, 111, 243;
    --rgb-foreground-secondary: 62, 64, 76;
    --rgb-foreground-secondary-on-transparent: 43, 45, 54;
    --rgb-foreground-success: 9, 114, 97;
    --rgb-foreground-success-on-transparent: 7, 94, 80;
    --rgb-foreground-success-on-background: 10, 134, 114;
    --rgb-foreground-warning: 178, 62, 4;
    --rgb-foreground-warning-on-transparent: 146, 51, 4;
    --rgb-foreground-warning-on-background: 209, 73, 5;
    --rgb-foreground-danger: 190, 43, 47;
    --rgb-foreground-danger-on-transparent: 156, 36, 39;
    --rgb-foreground-danger-on-background: 223, 51, 55;
    --rgb-foreground-hint: 108, 110, 126;
    --rgb-foreground-hint-on-transparent: 82, 84, 99;
    --rgb-foreground-contrast: 62, 64, 76;
    --rgb-foreground-contrast-on-transparent: 43, 45, 54;
    --rgb-foreground-accent: 255, 255, 255;
    --rgb-foreground-accent-on-transparent: 255, 255, 255;
    --rgb-foreground-alternative: 82, 84, 99;
    --rgb-foreground-normal: 43, 45, 54;
    --rgb-foreground-light: 255, 255, 255;
    --primary: rgb(42, 111, 243);
    --secondary: rgb(232, 232, 238);
    --success: rgb(10, 134, 114);
    --warning: rgb(209, 73, 5);
    --danger: rgb(223, 51, 55);
    --hint: rgb(108, 110, 126);
    --contrast: rgb(62, 64, 76);
    --foreground-primary: rgb(36, 94, 207);
    --background-normal: rgb(255, 255, 255);
    --border-color: rgb(225, 225, 232);
    --logo-normal: rgb(43, 45, 54);
    --background-alternative-01: rgb(247, 247, 250);
    --background-alternative-02: rgb(255, 255, 255);
    --foreground-primary-on-transparent: rgb(29, 78, 170);
    --foreground-primary-on-background: rgb(42, 111, 243);
    --foreground-secondary: rgb(62, 64, 76);
    --foreground-secondary-on-transparent: rgb(43, 45, 54);
    --foreground-success: rgb(9, 114, 97);
    --foreground-success-on-transparent: rgb(7, 94, 80);
    --foreground-success-on-background: rgb(10, 134, 114);
    --foreground-warning: rgb(178, 62, 4);
    --foreground-warning-on-transparent: rgb(146, 51, 4);
    --foreground-warning-on-background: rgb(209, 73, 5);
    --foreground-danger: rgb(190, 43, 47);
    --foreground-danger-on-transparent: rgb(156, 36, 39);
    --foreground-danger-on-background: rgb(223, 51, 55);
    --foreground-hint: rgb(108, 110, 126);
    --foreground-hint-on-transparent: rgb(82, 84, 99);
    --foreground-contrast: rgb(62, 64, 76);
    --foreground-contrast-on-transparent: rgb(43, 45, 54);
    --foreground-accent: rgb(255, 255, 255);
    --foreground-accent-on-transparent: rgb(255, 255, 255);
    --foreground-alternative: rgb(82, 84, 99);
    --foreground-normal: rgb(43, 45, 54);
    --foreground-light: rgb(255, 255, 255);
    --border-radius-100: 0.25rem;
    --border-radius-200: 0.375rem;
    --border-radius-300: 0.5rem;
    --border-radius-400: 0.75rem;
    --border-radius-500: 1rem;
    --border-radius-600: 1.25rem;
    --border-radius-700: 1.5rem;
    --border-radius-800: 2rem;
    --border-radius-900: 2.5rem;
    --border-radius-000: 0rem;
    --border-radius-050: 0.125rem;
    --space-100: 0.5rem;
    --space-150: 0.75rem;
    --space-175: 0.875rem;
    --space-200: 1rem;
    --space-225: 1.125rem;
    --space-250: 1.25rem;
    --space-300: 1.5rem;
    --space-400: 2rem;
    --space-500: 2.5rem;
    --space-600: 3rem;
    --space-700: 3.5rem;
    --space-800: 4rem;
    --space-900: 4.5rem;
    --space-000: 0rem;
    --space-025: 0.125rem;
    --space-050: 0.25rem;
    --space-075: 0.375rem;
    --dimension-100: 0.5rem;
    --dimension-150: 0.75rem;
    --dimension-175: 0.875rem;
    --dimension-200: 1rem;
    --dimension-225: 1.125rem;
    --dimension-250: 1.25rem;
    --dimension-300: 1.5rem;
    --dimension-400: 2rem;
    --dimension-500: 2.5rem;
    --dimension-600: 3rem;
    --dimension-700: 3.5rem;
    --dimension-800: 4rem;
    --dimension-025: 0.125rem;
    --dimension-050: 0.25rem;
    --dimension-075: 0.375rem;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-700: 700;
    --font-weight-800: 800;
    --line-height-100: 1.5rem;
    --line-height-200: 1.625rem;
    --line-height-300: 1.875rem;
    --line-height-400: 2.25rem;
    --line-height-500: 3rem;
    --line-height-600: 3.5rem;
    --line-height-700: 3.875rem;
    --line-height-800: 5.25rem;
    --line-height-900: 6.5rem;
    --line-height-1000: 9.75rem;
    --line-height-025: 0.875rem;
    --line-height-050: 1.125rem;
    --line-height-075: 1.375rem;
    --letter-spacing-d1: -0.4000000059604645;
    --letter-spacing-d2: -0.4000000059604645;
    --letter-spacing-d3: -0.4000000059604645;
    --letter-spacing-d4: -0.4000000059604645;
    --letter-spacing-h1: -0.4000000059604645;
    --letter-spacing-h2: -0.4000000059604645;
    --letter-spacing-h3: -0.30000001192092896;
    --letter-spacing-h4: -0.20000000298023224;
    --letter-spacing-h5: -0.10000000149011612;
    --letter-spacing-h6: -0.10000000149011612;
    --letter-spacing-s1: -0.10000000149011612;
    --letter-spacing-s2: 0;
    --letter-spacing-b1: -0.10000000149011612;
    --letter-spacing-b2: -0.10000000149011612;
    --letter-spacing-b3: -0.10000000149011612;
    --letter-spacing-b4: 0;
    --letter-spacing-code1: 0;
    --letter-spacing-code2: 0;
    --font-sans: Pretendard Variable;
    --font-code: FiraCode;
    --font-size-100: 1rem;
    --font-size-200: 1.125rem;
    --font-size-300: 1.25rem;
    --font-size-400: 1.5rem;
    --font-size-500: 2rem;
    --font-size-600: 2.375rem;
    --font-size-700: 3rem;
    --font-size-800: 4rem;
    --font-size-900: 5rem;
    --font-size-1000: 7.5rem;
    --font-size-025: 0.625rem;
    --font-size-050: 0.75rem;
    --font-size-075: 0.875rem;

    /* custom root */
    /* primitive tokens */
    --rgb-white: 255 255 255;
    --rgb-black: 0 0 0;
    --rgb-gray-000: 255 255 255;
    --rgb-gray-050: 247 247 250;
    --rgb-gray-100: 240 240 245;
    --rgb-gray-200: 232 232 238;
    --rgb-gray-300: 225 225 232;
    --rgb-gray-400: 205 206 214;
    --rgb-gray-500: 140 143 159;
    --rgb-gray-600: 108 110 126;
    --rgb-gray-700: 82 84 99;
    --rgb-gray-800: 62 64 76;
    --rgb-gray-900: 43 45 54;
    --rgb-gray-950: 37 39 48;
    --rgb-blue-050: 234 241 254;
    --rgb-blue-100: 212 226 253;
    --rgb-blue-200: 170 197 250;
    --rgb-blue-300: 127 169 248;
    --rgb-blue-400: 85 140 245;
    --rgb-blue-500: 42 111 243;
    --rgb-blue-600: 36 94 207;
    --rgb-blue-700: 29 78 170;
    --rgb-blue-800: 25 67 146;
    --rgb-blue-900: 21 56 122;
    --rgb-red-050: 252 235 235;
    --rgb-red-100: 249 214 215;
    --rgb-red-200: 242 173 175;
    --rgb-red-300: 236 133 135;
    --rgb-red-400: 229 92 95;
    --rgb-red-500: 223 51 55;
    --rgb-red-600: 190 43 47;
    --rgb-red-700: 156 36 39;
    --rgb-red-800: 134 31 33;
    --rgb-red-900: 112 26 28;
    --rgb-orange-050: 250 237 230;
    --rgb-orange-100: 246 219 205;
    --rgb-orange-200: 237 182 155;
    --rgb-orange-300: 227 146 105;
    --rgb-orange-400: 218 109 55;
    --rgb-orange-500: 209 73 5;
    --rgb-orange-600: 178 62 4;
    --rgb-orange-700: 146 51 4;
    --rgb-orange-800: 125 44 3;
    --rgb-orange-900: 105 37 3;
    --rgb-green-050: 230 243 241;
    --rgb-green-100: 206 231 227;
    --rgb-green-200: 157 207 199;
    --rgb-green-300: 108 182 170;
    --rgb-green-400: 59 158 142;
    --rgb-green-500: 10 134 114;
    --rgb-green-600: 9 114 97;
    --rgb-green-700: 7 94 80;
    --rgb-green-800: 6 80 68;
    --rgb-green-900: 5 67 57;
    --rgb-pink-050: 251 234 241;
    --rgb-pink-100: 248 213 227;
    --rgb-pink-200: 240 172 199;
    --rgb-pink-300: 233 130 172;
    --rgb-pink-400: 225 89 144;
    --rgb-pink-500: 218 47 116;
    --rgb-pink-600: 185 40 99;
    --rgb-pink-700: 153 33 81;
    --rgb-pink-800: 131 28 70;
    --rgb-pink-900: 109 24 58;
    --rgb-grape-050: 248 234 252;
    --rgb-grape-100: 242 213 249;
    --rgb-grape-200: 242 213 249;
    --rgb-grape-300: 216 128 238;
    --rgb-grape-400: 203 86 232;
    --rgb-grape-500: 190 44 226;
    --rgb-grape-600: 162 37 192;
    --rgb-grape-700: 133 31 158;
    --rgb-grape-800: 114 26 136;
    --rgb-grape-900: 114 26 136;
    --rgb-violet-050: 243 238 254;
    --rgb-violet-100: 231 221 254;
    --rgb-violet-200: 207 187 253;
    --rgb-violet-300: 183 152 251;
    --rgb-violet-400: 159 118 250;
    --rgb-violet-500: 135 84 249;
    --rgb-violet-600: 115 71 212;
    --rgb-violet-700: 95 59 174;
    --rgb-violet-800: 81 50 149;
    --rgb-violet-900: 68 42 125;
    --rgb-cyan-050: 231 242 245;
    --rgb-cyan-100: 207 230 236;
    --rgb-cyan-200: 159 205 217;
    --rgb-cyan-300: 110 179 198;
    --rgb-cyan-400: 62 154 179;
    --rgb-cyan-500: 14 129 160;
    --rgb-cyan-600: 12 110 136;
    --rgb-cyan-700: 10 90 112;
    --rgb-cyan-800: 8 77 96;
    --rgb-cyan-900: 7 65 80;
    --rgb-lime-050: 244 251 233;
    --rgb-lime-100: 233 246 212;
    --rgb-lime-200: 210 237 169;
    --rgb-lime-300: 188 229 125;
    --rgb-lime-400: 165 220 82;
    --rgb-lime-500: 143 211 39;
    --rgb-lime-600: 122 179 33;
    --rgb-lime-700: 100 148 27;
    --rgb-lime-800: 86 127 23;
    --rgb-lime-900: 72 106 20;
    --rgb-yellow-050: 254 248 229;
    --rgb-yellow-100: 254 241 204;
    --rgb-yellow-200: 253 228 153;
    --rgb-yellow-300: 252 214 102;
    --rgb-yellow-400: 251 201 51;
    --rgb-yellow-500: 250 187 0;
    --rgb-yellow-600: 213 159 0;
    --rgb-yellow-700: 175 131 0;
    --rgb-yellow-800: 150 112 0;
    --rgb-yellow-900: 125 94 0;
    --white: rgb(255, 255, 255);
    --white-transparent-8: rgba(255, 255, 255, 0.08);
    --white-transparent-16: rgba(255, 255, 255, 0.16);
    --white-transparent-24: rgba(255, 255, 255, 0.24);
    --white-transparent-32: rgba(255, 255, 255, 0.32);
    --black: rgb(0, 0, 0);
    --black-transparent-8: rgba(0, 0, 0, 0.08);
    --black-transparent-16: rgba(0, 0, 0, 0.16);
    --black-transparent-24: rgba(0, 0, 0, 0.24);
    --black-transparent-32: rgba(0, 0, 0, 0.32);
    --gray-000: rgb(255, 255, 255);
    --gray-050: rgb(247, 247, 250);
    --gray-100: rgb(240, 240, 245);
    --gray-200: rgb(232, 232, 238);
    --gray-300: rgb(225, 225, 232);
    --gray-400: rgb(205, 206, 214);
    --gray-500: rgb(140, 143, 159);
    --gray-600: rgb(108, 110, 126);
    --gray-700: rgb(82, 84, 99);
    --gray-800: rgb(62, 64, 76);
    --gray-900: rgb(43, 45, 54);
    --gray-950: rgb(37, 39, 48);
    --gray-000-transparent-8: rgba(255, 255, 255, 0.08);
    --gray-000-transparent-16: rgba(255, 255, 255, 0.16);
    --gray-000-transparent-24: rgba(255, 255, 255, 0.24);
    --gray-000-transparent-32: rgba(255, 255, 255, 0.32);
    --gray-100-transparent-8: rgba(240, 240, 245, 0.08);
    --gray-100-transparent-16: rgba(240, 240, 245, 0.16);
    --gray-100-transparent-24: rgba(240, 240, 245, 0.24);
    --gray-100-transparent-32: rgba(240, 240, 245, 0.32);
    --gray-300-transparent-8: rgba(225, 225, 232, 0.08);
    --gray-300-transparent-16: rgba(225, 225, 232, 0.16);
    --gray-300-transparent-24: rgba(225, 225, 232, 0.24);
    --gray-300-transparent-32: rgba(225, 225, 232, 0.32);
    --gray-400-transparent-8: rgba(205, 206, 214, 0.08);
    --gray-400-transparent-16: rgba(205, 206, 214, 0.16);
    --gray-400-transparent-24: rgba(205, 206, 214, 0.24);
    --gray-400-transparent-32: rgba(205, 206, 214, 0.32);
    --gray-600-transparent-8: rgba(108, 110, 126, 0.08);
    --gray-600-transparent-16: rgba(108, 110, 126, 0.16);
    --gray-600-transparent-24: rgba(108, 110, 126, 0.24);
    --gray-600-transparent-32: rgba(108, 110, 126, 0.32);
    --gray-800-transparent-8: rgba(62, 64, 76, 0.08);
    --gray-800-transparent-16: rgba(62, 64, 76, 0.16);
    --gray-800-transparent-24: rgba(62, 64, 76, 0.24);
    --gray-800-transparent-32: rgba(62, 64, 76, 0.32);
    --gray-900-transparent-8: rgba(43, 45, 54, 0.08);
    --gray-900-transparent-16: rgba(43, 45, 54, 0.16);
    --gray-900-transparent-24: rgba(43, 45, 54, 0.24);
    --gray-900-transparent-32: rgba(43, 45, 54, 0.32);
    --blue-050: rgb(234, 241, 254);
    --blue-100: rgb(212, 226, 253);
    --blue-200: rgb(170, 197, 250);
    --blue-300: rgb(127, 169, 248);
    --blue-400: rgb(85, 140, 245);
    --blue-500: rgb(42, 111, 243);
    --blue-600: rgb(36, 94, 207);
    --blue-700: rgb(29, 78, 170);
    --blue-800: rgb(25, 67, 146);
    --blue-900: rgb(21, 56, 122);
    --blue-500-transparent-8: rgba(42, 111, 243, 0.08);
    --blue-500-transparent-16: rgba(42, 111, 243, 0.16);
    --blue-500-transparent-24: rgba(42, 111, 243, 0.24);
    --blue-500-transparent-32: rgba(42, 111, 243, 0.32);
    --blue-700-transparent-8: rgba(29, 78, 170, 0.08);
    --blue-700-transparent-16: rgba(29, 78, 170, 0.16);
    --blue-700-transparent-24: rgba(29, 78, 170, 0.24);
    --blue-700-transparent-32: rgba(29, 78, 170, 0.32);
    --red-050: rgb(252, 235, 235);
    --red-100: rgb(249, 214, 215);
    --red-200: rgb(242, 173, 175);
    --red-300: rgb(236, 133, 135);
    --red-400: rgb(229, 92, 95);
    --red-500: rgb(223, 51, 55);
    --red-600: rgb(190, 43, 47);
    --red-700: rgb(156, 36, 39);
    --red-800: rgb(134, 31, 33);
    --red-900: rgb(112, 26, 28);
    --red-500-transparent-8: rgba(223, 51, 55, 0.08);
    --red-500-transparent-16: rgba(223, 51, 55, 0.16);
    --red-500-transparent-24: rgba(223, 51, 55, 0.24);
    --red-500-transparent-32: rgba(223, 51, 55, 0.32);
    --orange-050: rgb(250, 237, 230);
    --orange-100: rgb(246, 219, 205);
    --orange-200: rgb(237, 182, 155);
    --orange-300: rgb(227, 146, 105);
    --orange-400: rgb(218, 109, 55);
    --orange-500: rgb(209, 73, 5);
    --orange-600: rgb(178, 62, 4);
    --orange-700: rgb(146, 51, 4);
    --orange-800: rgb(125, 44, 3);
    --orange-900: rgb(105, 37, 3);
    --orange-500-transparent-8: rgba(209, 73, 5, 0.08);
    --orange-500-transparent-16: rgba(209, 73, 5, 0.16);
    --orange-500-transparent-24: rgba(209, 73, 5, 0.24);
    --orange-500-transparent-32: rgba(209, 73, 5, 0.32);
    --green-050: rgb(230, 243, 241);
    --green-100: rgb(206, 231, 227);
    --green-200: rgb(157, 207, 199);
    --green-300: rgb(108, 182, 170);
    --green-400: rgb(59, 158, 142);
    --green-500: rgb(10, 134, 114);
    --green-600: rgb(9, 114, 97);
    --green-700: rgb(7, 94, 80);
    --green-800: rgb(6, 80, 68);
    --green-900: rgb(5, 67, 57);
    --green-500-transparent-8: rgba(10, 134, 114, 0.08);
    --green-500-transparent-16: rgba(10, 134, 114, 0.16);
    --green-500-transparent-24: rgba(10, 134, 114, 0.24);
    --green-500-transparent-32: rgba(10, 134, 114, 0.32);
    --pink-050: rgb(251, 234, 241);
    --pink-100: rgb(248, 213, 227);
    --pink-200: rgb(240, 172, 199);
    --pink-300: rgb(233, 130, 172);
    --pink-400: rgb(225, 89, 144);
    --pink-500: rgb(218, 47, 116);
    --pink-600: rgb(185, 40, 99);
    --pink-700: rgb(153, 33, 81);
    --pink-800: rgb(131, 28, 70);
    --pink-900: rgb(109, 24, 58);
    --grape-050: rgb(248, 234, 252);
    --grape-100: rgb(242, 213, 249);
    --grape-200: rgb(242, 213, 249);
    --grape-300: rgb(216, 128, 238);
    --grape-400: rgb(203, 86, 232);
    --grape-500: rgb(190, 44, 226);
    --grape-600: rgb(162, 37, 192);
    --grape-700: rgb(133, 31, 158);
    --grape-800: rgb(114, 26, 136);
    --grape-900: rgb(114, 26, 136);
    --violet-050: rgb(243, 238, 254);
    --violet-100: rgb(231, 221, 254);
    --violet-200: rgb(207, 187, 253);
    --violet-300: rgb(183, 152, 251);
    --violet-400: rgb(159, 118, 250);
    --violet-500: rgb(135, 84, 249);
    --violet-600: rgb(115, 71, 212);
    --violet-700: rgb(95, 59, 174);
    --violet-800: rgb(81, 50, 149);
    --violet-900: rgb(68, 42, 125);
    --cyan-050: rgb(231, 242, 245);
    --cyan-100: rgb(207, 230, 236);
    --cyan-200: rgb(159, 205, 217);
    --cyan-300: rgb(110, 179, 198);
    --cyan-400: rgb(62, 154, 179);
    --cyan-500: rgb(14, 129, 160);
    --cyan-600: rgb(12, 110, 136);
    --cyan-700: rgb(10, 90, 112);
    --cyan-800: rgb(8, 77, 96);
    --cyan-900: rgb(7, 65, 80);
    --lime-050: rgb(244, 251, 233);
    --lime-100: rgb(233, 246, 212);
    --lime-200: rgb(210, 237, 169);
    --lime-300: rgb(188, 229, 125);
    --lime-400: rgb(165, 220, 82);
    --lime-500: rgb(143, 211, 39);
    --lime-600: rgb(122, 179, 33);
    --lime-700: rgb(100, 148, 27);
    --lime-800: rgb(86, 127, 23);
    --lime-900: rgb(72, 106, 20);
    --yellow-050: rgb(254, 248, 229);
    --yellow-100: rgb(254, 241, 204);
    --yellow-200: rgb(253, 228, 153);
    --yellow-300: rgb(252, 214, 102);
    --yellow-400: rgb(251, 201, 51);
    --yellow-500: rgb(250, 187, 0);
    --yellow-600: rgb(213, 159, 0);
    --yellow-700: rgb(175, 131, 0);
    --yellow-800: rgb(150, 112, 0);
    --yellow-900: rgb(125, 94, 0);
    --size-000: 0;
    --size-025: 0.125rem;
    --size-050: 0.25rem;
    --size-075: 0.375rem;
    --size-100: 0.5rem;
    --size-175: 0.875rem;
    --size-150: 0.75rem;
    --size-200: 1rem;
    --size-225: 1.125rem;
    --size-250: 1.25rem;
    --size-300: 1.5rem;
    --size-400: 2rem;
    --size-500: 2.5rem;
    --size-600: 3rem;
    --size-700: 3.5rem;
    --size-800: 4rem;
    --size-900: 4.5rem;
    --size-1000: 5rem;
    --size-1200: 6rem;
    /* semantic tokens */
    --font-sans:
        Pretendard Variable, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue,
        Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
        Noto Color Emoji;
    --font-code: Fira Code;
    --line-height-025: 0.875rem;
    --line-height-050: 1.125rem;
    --line-height-075: 1.375rem;
    --line-height-100: 1.5rem;
    --line-height-200: 1.625rem;
    --line-height-300: 1.875rem;
    --line-height-400: 2.25rem;
    --line-height-500: 3rem;
    --line-height-600: 3.5rem;
    --line-height-700: 3.875rem;
    --line-height-800: 5.25rem;
    --line-height-900: 6.5rem;
    --line-height-1000: 9.75rem;
    --font-size-025: 0.625rem;
    --font-size-050: 0.75rem;
    --font-size-075: 0.875rem;
    --font-size-100: 1rem;
    --font-size-200: 1.125rem;
    --font-size-300: 1.25rem;
    --font-size-400: 1.5rem;
    --font-size-500: 2rem;
    --font-size-600: 2.375rem;
    --font-size-700: 3rem;
    --font-size-800: 4rem;
    --font-size-900: 5rem;
    --font-size-1000: 7.5rem;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-700: 700;
    --font-weight-800: 800;
    --letter-spacing-d1: -0.4;
    --letter-spacing-d2: -0.4;
    --letter-spacing-d3: -0.4;
    --letter-spacing-d4: -0.4;
    --letter-spacing-h1: -0.4;
    --letter-spacing-h2: -0.4;
    --letter-spacing-h3: -0.3;
    --letter-spacing-h4: -0.2;
    --letter-spacing-h5: -0.1;
    --letter-spacing-h6: -0.1;
    --letter-spacing-s1: -0.1;
    --letter-spacing-s2: 0;
    --letter-spacing-b1: -0.1;
    --letter-spacing-b2: -0.1;
    --letter-spacing-b3: -0.1;
    --letter-spacing-b4: 0;
    --letter-spacing-c1: 0;
    --letter-spacing-c2: 0;
    --primary: rgb(42, 111, 243);
    --secondary: rgb(232, 232, 238);
    --success: rgb(10, 134, 114);
    --warning: rgb(209, 73, 5);
    --danger: rgb(223, 51, 55);
    --contrast: rgb(62, 64, 76);
    --hint: rgb(108, 110, 126);
    --primary-transparent-8: rgba(42, 111, 243, 0.08);
    --primary-transparent-16: rgba(42, 111, 243, 0.16);
    --primary-transparent-24: rgba(42, 111, 243, 0.24);
    --primary-transparent-32: rgba(42, 111, 243, 0.32);
    --secondary-transparent-8: rgba(240, 240, 245, 0.08);
    --secondary-transparent-16: rgba(240, 240, 245, 0.16);
    --secondary-transparent-24: rgba(240, 240, 245, 0.24);
    --secondary-transparent-32: rgba(240, 240, 245, 0.32);
    --success-transparent-8: rgba(10, 134, 114, 0.08);
    --success-transparent-16: rgba(10, 134, 114, 0.16);
    --success-transparent-24: rgba(10, 134, 114, 0.24);
    --success-transparent-32: rgba(10, 134, 114, 0.32);
    --warning-transparent-8: rgba(209, 73, 5, 0.08);
    --warning-transparent-16: rgba(209, 73, 5, 0.16);
    --warning-transparent-24: rgba(209, 73, 5, 0.24);
    --warning-transparent-32: rgba(209, 73, 5, 0.32);
    --danger-transparent-8: rgba(223, 51, 55, 0.08);
    --danger-transparent-16: rgba(223, 51, 55, 0.16);
    --danger-transparent-24: rgba(223, 51, 55, 0.24);
    --danger-transparent-32: rgba(223, 51, 55, 0.32);
    --contrast-transparent-8: rgba(62, 64, 76, 0.08);
    --contrast-transparent-16: rgba(62, 64, 76, 0.16);
    --contrast-transparent-24: rgba(62, 64, 76, 0.24);
    --contrast-transparent-32: rgba(62, 64, 76, 0.32);
    --hint-transparent-8: rgba(108, 110, 126, 0.08);
    --hint-transparent-16: rgba(108, 110, 126, 0.16);
    --hint-transparent-24: rgba(108, 110, 126, 0.24);
    --hint-transparent-32: rgba(108, 110, 126, 0.32);
    --primary-hover: rgb(36, 94, 207);
    --primary-active: rgb(29, 78, 170);
    --secondary-hover: rgb(225, 225, 232);
    --secondary-active: rgb(205, 206, 214);
    --success-hover: rgb(9, 114, 97);
    --success-active: rgb(7, 94, 80);
    --warning-hover: rgb(178, 62, 4);
    --warning-active: rgb(146, 51, 4);
    --danger-hover: rgb(190, 43, 47);
    --danger-active: rgb(156, 36, 39);
    --contrast-hover: rgb(43, 45, 54);
    --contrast-active: rgb(37, 39, 48);
    --hint-hover: rgb(82, 84, 99);
    --hint-active: rgb(62, 64, 76);
    --text-primary: rgb(29, 78, 170);
    --text-primary-alternative: rgb(25, 67, 146);
    --text-secondary: rgb(108, 110, 126);
    --text-secondary-alternative: rgb(82, 84, 99);
    --text-success: rgb(7, 94, 80);
    --text-success-alternative: rgb(6, 80, 68);
    --text-warning: rgb(146, 51, 4);
    --text-warning-alternative: rgb(125, 44, 3);
    --text-danger: rgb(156, 36, 39);
    --text-danger-alternative: rgb(134, 31, 33);
    --text-contrast: rgb(62, 64, 76);
    --text-contrast-alternative: rgb(43, 45, 54);
    --text-hint: rgb(108, 110, 126);
    --text-hint-alternative: rgb(82, 84, 99);
    --text-light: rgb(255, 255, 255);
    --text-normal: rgb(43, 45, 54);
    --text-alternative: rgb(82, 84, 99);
    --text-exception: rgb(255, 255, 255);
    --foreground-primary: rgb(36, 94, 207);
    --foreground-primary-on-transparent: rgb(29, 78, 170);
    --foreground-primary-on-background: rgb(42, 111, 243);
    --foreground-secondary: rgb(62, 64, 76);
    --foreground-secondary-on-transparent: rgb(43, 45, 54);
    --foreground-success: rgb(9, 114, 97);
    --foreground-success-on-transparent: rgb(7, 94, 80);
    --foreground-success-on-background: rgb(10, 134, 114);
    --foreground-warning: rgb(178, 62, 4);
    --foreground-warning-on-transparent: rgb(146, 51, 4);
    --foreground-warning-on-background: rgb(209, 73, 5);
    --foreground-danger: rgb(190, 43, 47);
    --foreground-danger-on-transparent: rgb(156, 36, 39);
    --foreground-danger-on-background: rgb(223, 51, 55);
    --foreground-contrast: rgb(62, 64, 76);
    --foreground-contrast-on-transparent: rgb(43, 45, 54);
    --foreground-hint: rgb(108, 110, 126);
    --foreground-hint-on-transparent: rgb(82, 84, 99);
    --foreground-accent: rgb(255, 255, 255);
    --foreground-accent-on-transparent: rgb(255, 255, 255);
    --foreground-light: rgb(255, 255, 255);
    --foreground-normal: rgb(43, 45, 54);
    --foreground-alternative: rgb(82, 84, 99);
    --background-normal: rgb(255, 255, 255);
    --background-alternative: rgb(247, 247, 250);
    --background-alternative-01: rgb(247, 247, 250);
    --background-alternative-02: rgb(255, 255, 255);
    --border-color: rgb(225, 225, 232);
    --border-hover: rgb(205, 206, 214);
    --gradient-normal: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
    --border-radius-000: var(--size-000);
    --border-radius-050: var(--size-025);
    --border-radius-100: var(--size-050);
    --border-radius-200: var(--size-075);
    --border-radius-300: var(--size-100);
    --border-radius-400: var(--size-150);
    --border-radius-500: var(--size-200);
    --border-radius-600: var(--size-250);
    --border-radius-700: var(--size-300);
    --border-radius-800: var(--size-400);
    --border-radius-900: var(--size-500);
    --space-000: var(--size-000);
    --space-025: var(--size-025);
    --space-050: var(--size-050);
    --space-075: var(--size-075);
    --space-100: var(--size-100);
    --space-150: var(--size-150);
    --space-175: var(--size-175);
    --space-200: var(--size-200);
    --space-225: var(--size-225);
    --space-250: var(--size-250);
    --space-300: var(--size-300);
    --space-400: var(--size-400);
    --space-500: var(--size-500);
    --space-600: var(--size-600);
    --space-700: var(--size-700);
    --space-800: var(--size-800);
    --space-900: var(--size-900);
    --dimension-025: var(--size-025);
    --dimension-050: var(--size-050);
    --dimension-075: var(--size-075);
    --dimension-100: var(--size-100);
    --dimension-150: var(--size-150);
    --dimension-175: var(--size-175);
    --dimension-200: var(--size-200);
    --dimension-225: var(--size-225);
    --dimension-250: var(--size-250);
    --dimension-300: var(--size-300);
    --dimension-400: var(--size-400);
    --dimension-500: var(--size-500);
    --dimension-600: var(--size-600);
    --dimension-700: var(--size-700);
    --dimension-800: var(--size-800);
    /* deprecated tokens */
    --font-family-sans-serif-ko:
        'Pretendard Variable', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto',
        'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --footer-brand-main-logo-filter: none;
    --spacer-0: 0;
    --spacer-xs: 0.25rem;
    --spacer-sm: 0.5rem;
    --spacer-md: 1rem;
    --spacer-lg: 1.5rem;
    --spacer-xl: 3rem;
}
