@layer vapor-reset;
@layer vapor-theme;
@layer vapor-component;
@layer vapor-utilities;
@property --vapor-scale-factor {
    syntax: '<number>';
    inherits: true;
    initial-value: 1;
}
@property --vapor-radius-factor {
    syntax: '<number>';
    inherits: true;
    initial-value: 1;
}
@layer vapor-reset;
@layer vapor-reset {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family:
            Pretendard Variable,
            -apple-system,
            BlinkMacSystemFont,
            system-ui,
            Roboto,
            Helvetica Neue,
            Segoe UI,
            Apple SD Gothic Neo,
            Noto Sans KR,
            Malgun Gothic,
            'Apple Color Emoji',
            'Segoe UI Emoji',
            Segoe UI Symbol,
            sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    a,
    area,
    button,
    [role='button'],
    input:not([type='range']),
    label,
    select,
    summary,
    textarea {
        text-decoration: none;
    }
    [role='button'] {
        background: none;
    }
    input,
    button,
    select,
    optgroup,
    textarea {
        border: none;
        line-height: inherit;
        color: inherit;
        font-family: inherit;
        font-size: inherit;
    }
    button,
    html [type='button'],
    [type='reset'],
    [type='submit'] {
        -webkit-appearance: none;
    }
    input,
    textarea {
        -moz-appearance: none;
        appearance: none;
        -webkit-appearance: none;
    }
    ul,
    ol {
        list-style: none;
    }
    button,
    a {
        cursor: pointer;
    }
    :root {
        --vapor-scale-factor: 1;
        --vapor-radius-factor: 1;
    }
}
@layer vapor-theme;
@layer vapor-theme {
    :root {
        --vapor-color-gray-100: #f0f0f5;
        --vapor-color-gray-200: #e8e8ee;
        --vapor-color-gray-300: #e1e1e8;
        --vapor-color-gray-400: #cdced6;
        --vapor-color-gray-500: #8c8f9f;
        --vapor-color-gray-600: #6c6e7e;
        --vapor-color-gray-700: #525463;
        --vapor-color-gray-800: #3e404c;
        --vapor-color-gray-900: #2b2d36;
        --vapor-color-gray-950: #252730;
        --vapor-color-gray-000: #ffffff;
        --vapor-color-gray-050: #f7f7fa;
        --vapor-color-red-100: #f9d6d7;
        --vapor-color-red-200: #f2adaf;
        --vapor-color-red-300: #ec8587;
        --vapor-color-red-400: #e55c5f;
        --vapor-color-red-500: #df3337;
        --vapor-color-red-600: #be2b2f;
        --vapor-color-red-700: #9c2427;
        --vapor-color-red-800: #861f21;
        --vapor-color-red-900: #701a1c;
        --vapor-color-red-050: #fcebeb;
        --vapor-color-pink-100: #f8d5e3;
        --vapor-color-pink-200: #f0acc7;
        --vapor-color-pink-300: #e982ac;
        --vapor-color-pink-400: #e15990;
        --vapor-color-pink-500: #da2f74;
        --vapor-color-pink-600: #b92863;
        --vapor-color-pink-700: #992151;
        --vapor-color-pink-800: #831c46;
        --vapor-color-pink-900: #6d183a;
        --vapor-color-pink-050: #fbeaf1;
        --vapor-color-grape-100: #f2d5f9;
        --vapor-color-grape-200: #e5abf3;
        --vapor-color-grape-300: #d880ee;
        --vapor-color-grape-400: #cb56e8;
        --vapor-color-grape-500: #be2ce2;
        --vapor-color-grape-600: #a225c0;
        --vapor-color-grape-700: #851f9e;
        --vapor-color-grape-800: #721a88;
        --vapor-color-grape-900: #5f1671;
        --vapor-color-grape-050: #f8eafc;
        --vapor-color-violet-100: #e7ddfe;
        --vapor-color-violet-200: #cfbbfd;
        --vapor-color-violet-300: #b798fb;
        --vapor-color-violet-400: #9f76fa;
        --vapor-color-violet-500: #8754f9;
        --vapor-color-violet-600: #7347d4;
        --vapor-color-violet-700: #5f3bae;
        --vapor-color-violet-800: #513295;
        --vapor-color-violet-900: #442a7d;
        --vapor-color-violet-050: #f3eefe;
        --vapor-color-blue-100: #d4e2fd;
        --vapor-color-blue-200: #aac5fa;
        --vapor-color-blue-300: #7fa9f8;
        --vapor-color-blue-400: #558cf5;
        --vapor-color-blue-500: #2a6ff3;
        --vapor-color-blue-600: #245ecf;
        --vapor-color-blue-700: #1d4eaa;
        --vapor-color-blue-800: #194392;
        --vapor-color-blue-900: #15387a;
        --vapor-color-blue-050: #eaf1fe;
        --vapor-color-cyan-100: #cfe6ec;
        --vapor-color-cyan-200: #9fcdd9;
        --vapor-color-cyan-300: #6eb3c6;
        --vapor-color-cyan-400: #3e9ab3;
        --vapor-color-cyan-500: #0e81a0;
        --vapor-color-cyan-600: #0c6e88;
        --vapor-color-cyan-700: #0a5a70;
        --vapor-color-cyan-800: #084d60;
        --vapor-color-cyan-900: #074150;
        --vapor-color-cyan-050: #e7f2f5;
        --vapor-color-green-100: #cee7e3;
        --vapor-color-green-200: #9dcfc7;
        --vapor-color-green-300: #6cb6aa;
        --vapor-color-green-400: #3b9e8e;
        --vapor-color-green-500: #0a8672;
        --vapor-color-green-600: #097261;
        --vapor-color-green-700: #075e50;
        --vapor-color-green-800: #065044;
        --vapor-color-green-900: #054339;
        --vapor-color-green-050: #e6f3f1;
        --vapor-color-lime-100: #e9f6d4;
        --vapor-color-lime-200: #d2eda9;
        --vapor-color-lime-300: #bce57d;
        --vapor-color-lime-400: #a5dc52;
        --vapor-color-lime-500: #8fd327;
        --vapor-color-lime-600: #7ab321;
        --vapor-color-lime-700: #64941b;
        --vapor-color-lime-800: #567f17;
        --vapor-color-lime-900: #486a14;
        --vapor-color-lime-050: #f4fbe9;
        --vapor-color-yellow-100: #fef1cc;
        --vapor-color-yellow-200: #fde499;
        --vapor-color-yellow-300: #fcd666;
        --vapor-color-yellow-400: #fbc933;
        --vapor-color-yellow-500: #fabb00;
        --vapor-color-yellow-600: #d59f00;
        --vapor-color-yellow-700: #af8300;
        --vapor-color-yellow-800: #967000;
        --vapor-color-yellow-900: #7d5e00;
        --vapor-color-yellow-050: #fef8e5;
        --vapor-color-orange-100: #f6dbcd;
        --vapor-color-orange-200: #edb69b;
        --vapor-color-orange-300: #e39269;
        --vapor-color-orange-400: #da6d37;
        --vapor-color-orange-500: #d14905;
        --vapor-color-orange-600: #b23e04;
        --vapor-color-orange-700: #923304;
        --vapor-color-orange-800: #7d2c03;
        --vapor-color-orange-900: #692503;
        --vapor-color-orange-050: #faede6;
        --vapor-color-rgb-black: 43, 45, 54;
        --vapor-color-black: #000000;
        --vapor-color-rgb-white: 255, 255, 255;
        --vapor-color-white: #ffffff;
        --vapor-color-background-rgb-primary: 42, 111, 243;
        --vapor-color-background-primary: #2a6ff3;
        --vapor-color-background-rgb-secondary: 232, 232, 238;
        --vapor-color-background-secondary: #e8e8ee;
        --vapor-color-background-rgb-success: 10, 134, 114;
        --vapor-color-background-success: #0a8672;
        --vapor-color-background-rgb-warning: 209, 73, 5;
        --vapor-color-background-warning: #d14905;
        --vapor-color-background-rgb-danger: 223, 51, 55;
        --vapor-color-background-danger: #df3337;
        --vapor-color-background-rgb-hint: 108, 110, 126;
        --vapor-color-background-hint: #6c6e7e;
        --vapor-color-background-rgb-contrast: 62, 64, 76;
        --vapor-color-background-contrast: #3e404c;
        --vapor-color-background-rgb-normal: 255, 255, 255;
        --vapor-color-background-normal: #ffffff;
        --vapor-color-background-normal-lighter: #ffffff;
        --vapor-color-background-normal-darker: #f7f7fa;
        --vapor-color-foreground-primary: #245ecf;
        --vapor-color-foreground-primary-darker: #1d4eaa;
        --vapor-color-foreground-secondary: #3e404c;
        --vapor-color-foreground-secondary-darker: #2b2d36;
        --vapor-color-foreground-success: #097261;
        --vapor-color-foreground-success-darker: #075e50;
        --vapor-color-foreground-warning: #b23e04;
        --vapor-color-foreground-warning-darker: #923304;
        --vapor-color-foreground-danger: #be2b2f;
        --vapor-color-foreground-danger-darker: #9c2427;
        --vapor-color-foreground-hint: #6c6e7e;
        --vapor-color-foreground-hint-darker: #525463;
        --vapor-color-foreground-contrast: #3e404c;
        --vapor-color-foreground-contrast-darker: #2b2d36;
        --vapor-color-foreground-accent: #ffffff;
        --vapor-color-foreground-accent-darker: #ffffff;
        --vapor-color-foreground-normal: #2b2d36;
        --vapor-color-foreground-normal-lighter: #525463;
        --vapor-color-border-normal: #e1e1e8;
        --vapor-color-border-primary: #2a6ff3;
        --vapor-color-border-secondary: #e8e8ee;
        --vapor-color-border-success: #0a8672;
        --vapor-color-border-warning: #d14905;
        --vapor-color-border-danger: #df3337;
        --vapor-color-border-hint: #6c6e7e;
        --vapor-color-border-contrast: #3e404c;
        --vapor-color-logo-normal: #2b2d36;
        --vapor-size-borderRadius-100: calc(var(--vapor-radius-factor) * 4px);
        --vapor-size-borderRadius-200: calc(var(--vapor-radius-factor) * 6px);
        --vapor-size-borderRadius-300: calc(var(--vapor-radius-factor) * 8px);
        --vapor-size-borderRadius-400: calc(var(--vapor-radius-factor) * 12px);
        --vapor-size-borderRadius-500: calc(var(--vapor-radius-factor) * 16px);
        --vapor-size-borderRadius-600: calc(var(--vapor-radius-factor) * 20px);
        --vapor-size-borderRadius-700: calc(var(--vapor-radius-factor) * 24px);
        --vapor-size-borderRadius-800: calc(var(--vapor-radius-factor) * 32px);
        --vapor-size-borderRadius-900: calc(var(--vapor-radius-factor) * 40px);
        --vapor-size-borderRadius-000: calc(var(--vapor-radius-factor) * 0px);
        --vapor-size-borderRadius-050: calc(var(--vapor-radius-factor) * 2px);
        --vapor-size-dimension-100: calc(var(--vapor-scale-factor) * 8px);
        --vapor-size-dimension-150: calc(var(--vapor-scale-factor) * 12px);
        --vapor-size-dimension-175: calc(var(--vapor-scale-factor) * 14px);
        --vapor-size-dimension-200: calc(var(--vapor-scale-factor) * 16px);
        --vapor-size-dimension-225: calc(var(--vapor-scale-factor) * 18px);
        --vapor-size-dimension-250: calc(var(--vapor-scale-factor) * 20px);
        --vapor-size-dimension-300: calc(var(--vapor-scale-factor) * 24px);
        --vapor-size-dimension-400: calc(var(--vapor-scale-factor) * 32px);
        --vapor-size-dimension-500: calc(var(--vapor-scale-factor) * 40px);
        --vapor-size-dimension-600: calc(var(--vapor-scale-factor) * 48px);
        --vapor-size-dimension-700: calc(var(--vapor-scale-factor) * 56px);
        --vapor-size-dimension-800: calc(var(--vapor-scale-factor) * 64px);
        --vapor-size-dimension-025: calc(var(--vapor-scale-factor) * 2px);
        --vapor-size-dimension-050: calc(var(--vapor-scale-factor) * 4px);
        --vapor-size-dimension-075: calc(var(--vapor-scale-factor) * 6px);
        --vapor-size-space-100: calc(var(--vapor-scale-factor) * 8px);
        --vapor-size-space-150: calc(var(--vapor-scale-factor) * 12px);
        --vapor-size-space-175: calc(var(--vapor-scale-factor) * 14px);
        --vapor-size-space-200: calc(var(--vapor-scale-factor) * 16px);
        --vapor-size-space-225: calc(var(--vapor-scale-factor) * 18px);
        --vapor-size-space-250: calc(var(--vapor-scale-factor) * 20px);
        --vapor-size-space-300: calc(var(--vapor-scale-factor) * 24px);
        --vapor-size-space-400: calc(var(--vapor-scale-factor) * 32px);
        --vapor-size-space-500: calc(var(--vapor-scale-factor) * 40px);
        --vapor-size-space-600: calc(var(--vapor-scale-factor) * 48px);
        --vapor-size-space-700: calc(var(--vapor-scale-factor) * 56px);
        --vapor-size-space-800: calc(var(--vapor-scale-factor) * 64px);
        --vapor-size-space-900: calc(var(--vapor-scale-factor) * 72px);
        --vapor-size-space-000: calc(var(--vapor-scale-factor) * 0px);
        --vapor-size-space-025: calc(var(--vapor-scale-factor) * 2px);
        --vapor-size-space-050: calc(var(--vapor-scale-factor) * 4px);
        --vapor-size-space-075: calc(var(--vapor-scale-factor) * 6px);
        --vapor-typography-fontSize-100: 16px;
        --vapor-typography-fontSize-200: 18px;
        --vapor-typography-fontSize-300: 20px;
        --vapor-typography-fontSize-400: 24px;
        --vapor-typography-fontSize-500: 32px;
        --vapor-typography-fontSize-600: 38px;
        --vapor-typography-fontSize-700: 48px;
        --vapor-typography-fontSize-800: 64px;
        --vapor-typography-fontSize-900: 80px;
        --vapor-typography-fontSize-1000: 120px;
        --vapor-typography-fontSize-025: 10px;
        --vapor-typography-fontSize-050: 12px;
        --vapor-typography-fontSize-075: 14px;
        --vapor-typography-lineHeight-100: 24px;
        --vapor-typography-lineHeight-200: 26px;
        --vapor-typography-lineHeight-300: 30px;
        --vapor-typography-lineHeight-400: 36px;
        --vapor-typography-lineHeight-500: 48px;
        --vapor-typography-lineHeight-600: 56px;
        --vapor-typography-lineHeight-700: 62px;
        --vapor-typography-lineHeight-800: 84px;
        --vapor-typography-lineHeight-900: 104px;
        --vapor-typography-lineHeight-1000: 156px;
        --vapor-typography-lineHeight-025: 14px;
        --vapor-typography-lineHeight-050: 18px;
        --vapor-typography-lineHeight-075: 22px;
        --vapor-typography-letterSpacing-100: -0.1px;
        --vapor-typography-letterSpacing-200: -0.2px;
        --vapor-typography-letterSpacing-300: -0.3px;
        --vapor-typography-letterSpacing-400: -0.4px;
        --vapor-typography-letterSpacing-000: 0;
        --vapor-typography-fontFamily-sans:
            Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue',
            'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
            'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
        --vapor-typography-fontFamily-code:
            FiraCode, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
        --vapor-typography-fontWeight-400: 400;
        --vapor-typography-fontWeight-500: 500;
        --vapor-typography-fontWeight-700: 700;
        --vapor-typography-fontWeight-800: 800;
    }
}
@layer vapor-utilities;
@layer vapor-utilities {
    .sprinkles-position-11krxun1 {
        position: var(--sprinkles-position-11krxun0);
    }
    .sprinkles-display-11krxun3 {
        display: var(--sprinkles-display-11krxun2);
    }
    .sprinkles-alignItems-11krxun5 {
        align-items: var(--sprinkles-alignItems-11krxun4);
    }
    .sprinkles-justifyContent-11krxun7 {
        justify-content: var(--sprinkles-justifyContent-11krxun6);
    }
    .sprinkles-flexDirection-11krxun9 {
        flex-direction: var(--sprinkles-flexDirection-11krxun8);
    }
    .sprinkles-gap-11krxunb {
        gap: var(--sprinkles-gap-11krxuna);
    }
    .sprinkles-padding-11krxund {
        padding: var(--sprinkles-padding-11krxunc);
    }
    .sprinkles-paddingTop-11krxunf {
        padding-top: var(--sprinkles-paddingTop-11krxune);
    }
    .sprinkles-paddingBottom-11krxunh {
        padding-bottom: var(--sprinkles-paddingBottom-11krxung);
    }
    .sprinkles-paddingLeft-11krxunj {
        padding-left: var(--sprinkles-paddingLeft-11krxuni);
    }
    .sprinkles-paddingRight-11krxunl {
        padding-right: var(--sprinkles-paddingRight-11krxunk);
    }
    .sprinkles-margin-11krxunn {
        margin: var(--sprinkles-margin-11krxunm);
    }
    .sprinkles-marginTop-11krxunp {
        margin-top: var(--sprinkles-marginTop-11krxuno);
    }
    .sprinkles-marginBottom-11krxunr {
        margin-bottom: var(--sprinkles-marginBottom-11krxunq);
    }
    .sprinkles-marginLeft-11krxunt {
        margin-left: var(--sprinkles-marginLeft-11krxuns);
    }
    .sprinkles-marginRight-11krxunv {
        margin-right: var(--sprinkles-marginRight-11krxunu);
    }
    .sprinkles-width-11krxunx {
        width: var(--sprinkles-width-11krxunw);
    }
    .sprinkles-height-11krxunz {
        height: var(--sprinkles-height-11krxuny);
    }
    .sprinkles-minWidth-11krxun11 {
        min-width: var(--sprinkles-minWidth-11krxun10);
    }
    .sprinkles-minHeight-11krxun13 {
        min-height: var(--sprinkles-minHeight-11krxun12);
    }
    .sprinkles-maxWidth-11krxun15 {
        max-width: var(--sprinkles-maxWidth-11krxun14);
    }
    .sprinkles-maxHeight-11krxun17 {
        max-height: var(--sprinkles-maxHeight-11krxun16);
    }
    .sprinkles-border-11krxun19 {
        border: var(--sprinkles-border-11krxun18);
    }
    .sprinkles-borderRadius-11krxun1b {
        border-radius: var(--sprinkles-borderRadius-11krxun1a);
    }
    .sprinkles-backgroundColor-11krxun1d {
        background-color: var(--sprinkles-backgroundColor-11krxun1c);
    }
    .sprinkles-color-11krxun1f {
        color: var(--sprinkles-color-11krxun1e);
    }
    .sprinkles-opacity-11krxun1h {
        opacity: var(--sprinkles-opacity-11krxun1g);
    }
    .sprinkles-pointerEvents-11krxun1j {
        pointer-events: var(--sprinkles-pointerEvents-11krxun1i);
    }
    .sprinkles-overflow-11krxun1l {
        overflow: var(--sprinkles-overflow-11krxun1k);
    }
    .sprinkles-textAlign-11krxun1n {
        text-align: var(--sprinkles-textAlign-11krxun1m);
    }
}
@layer vapor-component;
@layer vapor-component {
    .interactions-13di4x91 {
        --interactions-opacity-ratio-13di4x90: 0.08;
        position: relative;
    }
    .interactions-13di4x91:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
        opacity: 0;
        border: none;
        border-radius: inherit;
        background-color: var(--vapor-color-black);
        pointer-events: none;
        width: 100%;
        height: 100%;
    }
    .interactions-13di4x91:focus {
        outline: none;
    }
    .interactions-13di4x91:focus-visible {
        outline: none;
    }
    .interactions-13di4x92 {
        --interactions-opacity-ratio-13di4x90: 0.08;
    }
    .interactions-13di4x93 {
        --interactions-opacity-ratio-13di4x90: 0.04;
    }
    .interactions-13di4x94:hover:before {
        opacity: calc(var(--interactions-opacity-ratio-13di4x90) * 1);
    }
    .interactions-13di4x94:active:before {
        opacity: calc(var(--interactions-opacity-ratio-13di4x90) * 2);
    }
    .interactions-13di4x94:focus-visible {
        box-shadow:
            0 0 0 2px #fff,
            0 0 0 4px var(--vapor-color-foreground-normal);
    }
    .interactions-13di4x95 {
        transition: border-color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    }
    .interactions-13di4x95:hover {
        border-color: rgba(var(--vapor-color-rgb-black), 0.24);
    }
    .interactions-13di4x95:focus-visible {
        border-color: var(--vapor-color-border-primary);
    }
}
@layer vapor-component;
@layer vapor-component {
    .button-rdwa1t6 {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: var(--vapor-size-borderRadius-300);
    }
    .button-rdwa1t6:is(:disabled, [data-disabled='true']) {
        opacity: 0.32;
        pointer-events: none;
    }
    .button-rdwa1t7 {
        gap: var(--vapor-size-space-050);
        padding-inline: var(--vapor-size-space-050);
        height: var(--vapor-size-dimension-300);
        line-height: var(--vapor-typography-lineHeight-075);
        letter-spacing: var(--vapor-typography-letterSpacing-100);
        font-size: var(--vapor-typography-fontSize-075);
        font-weight: var(--vapor-typography-fontWeight-500);
    }
    .button-rdwa1t8 {
        gap: var(--vapor-size-space-075);
        padding-inline: var(--vapor-size-space-150);
        height: var(--vapor-size-dimension-400);
        line-height: var(--vapor-typography-lineHeight-075);
        letter-spacing: var(--vapor-typography-letterSpacing-100);
        font-size: var(--vapor-typography-fontSize-075);
        font-weight: var(--vapor-typography-fontWeight-500);
    }
    .button-rdwa1t9 {
        gap: var(--vapor-size-space-100);
        padding-inline: var(--vapor-size-space-200);
        height: var(--vapor-size-dimension-500);
        line-height: var(--vapor-typography-lineHeight-075);
        letter-spacing: var(--vapor-typography-letterSpacing-100);
        font-size: var(--vapor-typography-fontSize-075);
        font-weight: var(--vapor-typography-fontWeight-500);
    }
    .button-rdwa1ta {
        gap: var(--vapor-size-space-100);
        padding-inline: var(--vapor-size-space-300);
        height: var(--vapor-size-dimension-600);
        line-height: var(--vapor-typography-lineHeight-100);
        letter-spacing: var(--vapor-typography-letterSpacing-100);
        font-size: var(--vapor-typography-fontSize-100);
        font-weight: var(--vapor-typography-fontWeight-500);
    }
    .button-rdwa1tb {
        --button-rdwa1t0: var(--vapor-color-foreground-primary);
        --button-rdwa1t1: var(--vapor-color-foreground-primary-darker);
        --button-rdwa1t2: var(--vapor-color-background-primary);
        --button-rdwa1t3: var(--vapor-color-background-rgb-primary);
        --button-rdwa1t4: rgb(var(--vapor-color-background-rgb-primary), 0.08);
        --button-rdwa1t5: var(--vapor-color-foreground-accent);
    }
    .button-rdwa1tc {
        --button-rdwa1t0: var(--vapor-color-foreground-secondary);
        --button-rdwa1t1: var(--vapor-color-foreground-secondary-darker);
        --button-rdwa1t2: var(--vapor-color-background-secondary);
        --button-rdwa1t3: var(--vapor-color-background-rgb-secondary);
        --button-rdwa1t4: rgb(var(--vapor-color-background-rgb-secondary), 0.08);
        --button-rdwa1t5: var(--vapor-color-foreground-secondary-darker);
    }
    .button-rdwa1td {
        --button-rdwa1t0: var(--vapor-color-foreground-success);
        --button-rdwa1t1: var(--vapor-color-foreground-success-darker);
        --button-rdwa1t2: var(--vapor-color-background-success);
        --button-rdwa1t3: var(--vapor-color-background-rgb-success);
        --button-rdwa1t4: rgb(var(--vapor-color-background-rgb-success), 0.08);
        --button-rdwa1t5: var(--vapor-color-foreground-accent);
    }
    .button-rdwa1te {
        --button-rdwa1t0: var(--vapor-color-foreground-warning);
        --button-rdwa1t1: var(--vapor-color-foreground-warning-darker);
        --button-rdwa1t2: var(--vapor-color-background-warning);
        --button-rdwa1t3: var(--vapor-color-background-rgb-warning);
        --button-rdwa1t4: rgb(var(--vapor-color-background-rgb-warning), 0.08);
        --button-rdwa1t5: var(--vapor-color-foreground-accent);
    }
    .button-rdwa1tf {
        --button-rdwa1t0: var(--vapor-color-foreground-danger);
        --button-rdwa1t1: var(--vapor-color-foreground-danger-darker);
        --button-rdwa1t2: var(--vapor-color-background-danger);
        --button-rdwa1t3: var(--vapor-color-background-rgb-danger);
        --button-rdwa1t4: rgb(var(--vapor-color-background-rgb-danger), 0.08);
        --button-rdwa1t5: var(--vapor-color-foreground-accent);
    }
    .button-rdwa1tg {
        --button-rdwa1t0: var(--vapor-color-foreground-contrast);
        --button-rdwa1t1: var(--vapor-color-foreground-contrast-darker);
        --button-rdwa1t2: var(--vapor-color-background-contrast);
        --button-rdwa1t3: var(--vapor-color-background-rgb-contrast);
        --button-rdwa1t4: rgb(var(--vapor-color-background-rgb-contrast), 0.08);
        --button-rdwa1t5: var(--vapor-color-foreground-accent);
    }
    .button-rdwa1th {
        background-color: var(--button-rdwa1t2);
        color: var(--button-rdwa1t5);
    }
    .button-rdwa1ti {
        box-shadow: inset 0 0 0 1px var(--button-rdwa1t2);
        background-color: var(--button-rdwa1t4);
        color: var(--button-rdwa1t1);
    }
    .button-rdwa1tj {
        background-color: transparent;
        color: var(--button-rdwa1t0);
    }
    .button-rdwa1tk {
        width: 100%;
    }
}
@layer vapor-component;
@layer vapor-component {
    .icon-button-1ssqycy0 {
        aspect-ratio: 1 / 1;
        padding: 0;
    }
    .icon-button-1ssqycy1 {
        border-radius: 9999px;
    }
    .icon-button-1ssqycy4,
    .icon-button-1ssqycy5 {
        width: var(--vapor-size-dimension-200);
        height: var(--vapor-size-dimension-200);
    }
    .icon-button-1ssqycy6 {
        width: var(--vapor-size-dimension-250);
        height: var(--vapor-size-dimension-250);
    }
    .icon-button-1ssqycy7 {
        width: var(--vapor-size-dimension-300);
        height: var(--vapor-size-dimension-300);
    }
}
@layer vapor-component;
@layer vapor-component {
    .card-18rs0li0 {
        display: flex;
        flex-direction: column;
        border: 1px solid var(--vapor-color-border-normal);
        border-radius: var(--vapor-size-borderRadius-300);
        background-color: var(--vapor-color-background-normal);
    }
    .card-18rs0li1 {
        border-bottom: 1px solid var(--vapor-color-border-normal);
        padding: var(--vapor-size-space-200) var(--vapor-size-space-300);
    }
    .card-18rs0li2 {
        padding: var(--vapor-size-space-300);
    }
    .card-18rs0li3 {
        border-top: 1px solid var(--vapor-color-border-normal);
        padding: var(--vapor-size-space-200) var(--vapor-size-space-300);
    }
}
@layer vapor-component;
@layer vapor-component {
    .nav-xuyk5b0 {
        display: flex;
        gap: var(--vapor-size-space-100);
    }
    .nav-xuyk5b1 {
        display: flex;
    }
    .nav-xuyk5b2 {
        display: inline-flex;
    }
    .nav-xuyk5b3 {
        flex-direction: row;
    }
    .nav-xuyk5b4 {
        flex-direction: column;
    }
    .nav-xuyk5ba {
        flex: 1;
    }
    .nav-xuyk5bd {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding-block: 0;
        width: 100%;
        border-radius: var(--vapor-size-borderRadius-300);
    }
    .nav-xuyk5be {
        pointer-events: none;
        opacity: 0.32;
    }
    .nav-xuyk5bf {
        justify-content: start;
    }
    .nav-xuyk5bg {
        justify-content: center;
    }
    .nav-xuyk5bh {
        justify-content: end;
    }
    .nav-xuyk5bi {
        background-color: rgba(var(--vapor-color-background-rgb-hint), 0.08);
        color: var(--vapor-color-foreground-normal-lighter);
    }
    .nav-xuyk5bi[aria-current='page'] {
        background-color: rgba(var(--vapor-color-background-rgb-primary), 0.24);
        color: var(--vapor-color-foreground-primary-darker);
    }
    .nav-xuyk5bj {
        background-color: transparent;
        color: var(--vapor-color-foreground-normal-lighter);
    }
    .nav-xuyk5bj[aria-current='page'] {
        color: var(--vapor-color-foreground-primary-darker);
    }
    .nav-xuyk5bk {
        gap: var(--vapor-size-space-075);
        padding-inline: var(--vapor-size-space-100);
        height: var(--vapor-size-dimension-300);
        line-height: var(--vapor-typography-lineHeight-050);
        letter-spacing: var(--vapor-typography-letterSpacing-000);
        font-size: var(--vapor-typography-fontSize-050);
        font-weight: var(--vapor-typography-fontWeight-500);
    }
    .nav-xuyk5bl {
        gap: var(--vapor-size-space-075);
        padding-inline: var(--vapor-size-space-150);
        height: var(--vapor-size-dimension-400);
        line-height: var(--vapor-typography-lineHeight-075);
        letter-spacing: var(--vapor-typography-letterSpacing-100);
        font-size: var(--vapor-typography-fontSize-075);
        font-weight: var(--vapor-typography-fontWeight-500);
    }
    .nav-xuyk5bm {
        gap: var(--vapor-size-space-075);
        padding-inline: var(--vapor-size-space-200);
        height: var(--vapor-size-dimension-500);
        line-height: var(--vapor-typography-lineHeight-075);
        letter-spacing: var(--vapor-typography-letterSpacing-100);
        font-size: var(--vapor-typography-fontSize-075);
        font-weight: var(--vapor-typography-fontWeight-500);
    }
    .nav-xuyk5bn {
        gap: var(--vapor-size-space-075);
        padding-inline: var(--vapor-size-space-300);
        height: var(--vapor-size-dimension-600);
        line-height: var(--vapor-typography-lineHeight-100);
        letter-spacing: var(--vapor-typography-letterSpacing-100);
        font-size: var(--vapor-typography-fontSize-100);
        font-weight: var(--vapor-typography-fontWeight-500);
    }
}
@layer vapor-component;
@layer vapor-component {
    .badge-14317c40 {
        display: inline-flex;
        align-items: center;
    }
    .badge-14317c41 {
        color: var(--vapor-color-foreground-primary-darker);
        background-color: rgba(var(--vapor-color-background-rgb-primary), 0.16);
    }
    .badge-14317c42 {
        color: var(--vapor-color-foreground-hint-darker);
        background-color: rgba(var(--vapor-color-background-rgb-hint), 0.16);
    }
    .badge-14317c43 {
        color: var(--vapor-color-foreground-danger-darker);
        background-color: rgba(var(--vapor-color-background-rgb-danger), 0.16);
    }
    .badge-14317c44 {
        color: var(--vapor-color-foreground-success-darker);
        background-color: rgba(var(--vapor-color-background-rgb-success), 0.16);
    }
    .badge-14317c45 {
        color: var(--vapor-color-foreground-warning-darker);
        background-color: rgba(var(--vapor-color-background-rgb-warning), 0.16);
    }
    .badge-14317c46 {
        color: var(--vapor-color-foreground-contrast-darker);
        background-color: rgba(var(--vapor-color-background-rgb-contrast), 0.16);
    }
    .badge-14317c47 {
        border-radius: var(--vapor-size-borderRadius-300);
    }
    .badge-14317c48 {
        border-radius: 9999px;
    }
    .badge-14317c49 {
        gap: var(--vapor-size-space-025);
        padding: 0 var(--vapor-size-space-075);
        height: var(--vapor-size-dimension-250);
        line-height: var(--vapor-typography-lineHeight-050);
        letter-spacing: var(--vapor-typography-letterSpacing-000);
        font-size: var(--vapor-typography-fontSize-050);
        font-weight: var(--vapor-typography-fontWeight-500);
    }
    .badge-14317c4a {
        gap: var(--vapor-size-space-050);
        padding: 0 var(--vapor-size-space-100);
        height: var(--vapor-size-dimension-300);
        line-height: var(--vapor-typography-lineHeight-050);
        letter-spacing: var(--vapor-typography-letterSpacing-000);
        font-size: var(--vapor-typography-fontSize-050);
        font-weight: var(--vapor-typography-fontWeight-500);
    }
    .badge-14317c4b {
        gap: var(--vapor-size-space-075);
        padding: 0 var(--vapor-size-space-150);
        height: var(--vapor-size-dimension-400);
        line-height: var(--vapor-typography-lineHeight-075);
        letter-spacing: var(--vapor-typography-letterSpacing-100);
        font-size: var(--vapor-typography-fontSize-075);
        font-weight: var(--vapor-typography-fontWeight-500);
    }
}
@property --grid-template-rows-1suuv4p0 {
    syntax: '*';
    inherits: false;
}
@property --grid-template-columns-1suuv4p1 {
    syntax: '*';
    inherits: false;
}
@property --grid-item-row-span-1suuv4pc {
    syntax: '*';
    inherits: false;
}
@property --grid-item-col-span-1suuv4pd {
    syntax: '*';
    inherits: false;
}
@layer vapor-component;
@layer vapor-component {
    .grid-1suuv4p2 {
        grid-template-rows: var(--grid-template-rows-1suuv4p0);
        grid-template-columns: var(--grid-template-columns-1suuv4p1);
    }
    .grid-1suuv4p3 {
        grid-auto-flow: row;
    }
    .grid-1suuv4p4 {
        grid-auto-flow: column;
    }
    .grid-1suuv4p5 {
        grid-auto-flow: row dense;
    }
    .grid-1suuv4p6 {
        grid-auto-flow: column dense;
    }
    .grid-1suuv4pe {
        grid-row: var(--grid-item-row-span-1suuv4pc);
        grid-column: var(--grid-item-col-span-1suuv4pd);
    }
}
@layer vapor-component;
@layer vapor-component {
    .avatar-em5te21 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        gap: var(--vapor-size-space-000);
        border: 1px solid var(--vapor-color-border-normal);
        padding: var(--vapor-size-space-000);
        overflow: hidden;
    }
    .avatar-em5te22 {
        --avatar-avatar-border-radius-em5te20: var(--vapor-size-borderRadius-200);
        width: var(--vapor-size-dimension-300);
        height: var(--vapor-size-dimension-300);
    }
    .avatar-em5te23 {
        --avatar-avatar-border-radius-em5te20: var(--vapor-size-borderRadius-300);
        width: var(--vapor-size-dimension-400);
        height: var(--vapor-size-dimension-400);
    }
    .avatar-em5te24 {
        --avatar-avatar-border-radius-em5te20: var(--vapor-size-borderRadius-400);
        width: var(--vapor-size-dimension-500);
        height: var(--vapor-size-dimension-500);
    }
    .avatar-em5te25 {
        --avatar-avatar-border-radius-em5te20: var(--vapor-size-borderRadius-400);
        width: var(--vapor-size-dimension-600);
        height: var(--vapor-size-dimension-600);
    }
    .avatar-em5te26 {
        border-radius: var(--avatar-avatar-border-radius-em5te20);
    }
    .avatar-em5te27 {
        border-radius: 50%;
    }
    .avatar-em5te2g {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: var(--avatar-fallback-background-color-em5te2f);
        color: var(--vapor-color-foreground-accent);
    }
    .avatar-em5te2h {
        font-size: var(--vapor-typography-fontSize-050);
        line-height: var(--vapor-typography-lineHeight-050);
        font-weight: var(--vapor-typography-fontWeight-500);
        letter-spacing: var(--vapor-typography-letterSpacing-000);
    }
    .avatar-em5te2i {
        font-size: var(--vapor-typography-fontSize-075);
        line-height: var(--vapor-typography-lineHeight-075);
        font-weight: var(--vapor-typography-fontWeight-500);
        letter-spacing: var(--vapor-typography-letterSpacing-100);
    }
    .avatar-em5te2j {
        font-size: var(--vapor-typography-fontSize-200);
        line-height: var(--vapor-typography-lineHeight-200);
        font-weight: var(--vapor-typography-fontWeight-700);
        letter-spacing: var(--vapor-typography-letterSpacing-100);
    }
    .avatar-em5te2k {
        font-size: var(--vapor-typography-fontSize-300);
        line-height: var(--vapor-typography-lineHeight-300);
        font-weight: var(--vapor-typography-fontWeight-700);
        letter-spacing: var(--vapor-typography-letterSpacing-200);
    }
    .avatar-em5te2q {
        display: inline;
        -o-object-fit: cover;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
.visually-hidden-1q7xssa0 {
    position: absolute;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
    clip: rect(0, 0, 0, 0);
}
@layer vapor-component;
.text-input-npu94q0 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--vapor-size-space-100);
    width: 100%;
}
.text-input-disabled_true-npu94q1 {
    opacity: 0.32;
    pointer-events: none;
}
.text-input-invalid_true-npu94q7 {
    border-color: var(--vapor-color-border-danger);
}
.text-input-size_sm-npu94q8 {
    padding-inline: var(--vapor-size-space-100);
    height: var(--vapor-size-dimension-300);
    font-size: var(--vapor-typography-fontSize-050);
}
.text-input-size_md-npu94q9 {
    padding-inline: var(--vapor-size-space-150);
    height: var(--vapor-size-dimension-400);
    font-size: var(--vapor-typography-fontSize-075);
}
.text-input-size_lg-npu94qa {
    padding-inline: var(--vapor-size-space-200);
    height: var(--vapor-size-dimension-500);
    font-size: var(--vapor-typography-fontSize-075);
}
.text-input-size_xl-npu94qb {
    padding-inline: var(--vapor-size-space-300);
    height: var(--vapor-size-dimension-600);
    font-size: var(--vapor-typography-fontSize-100);
}
@layer vapor-component {
    .text-input-npu94q2 {
        line-height: var(--vapor-typography-lineHeight-050);
        letter-spacing: var(--vapor-typography-letterSpacing-000);
        color: var(--vapor-color-foreground-normal-lighter);
        font-size: var(--vapor-typography-fontSize-050);
        font-weight: var(--vapor-typography-fontWeight-500);
    }
    .text-input-npu94q5 {
        outline: 0;
        border: 0.0625rem solid var(--vapor-color-border-normal);
        border-radius: var(--vapor-size-borderRadius-300);
        background-color: var(--vapor-color-background-normal);
        padding-block: var(--vapor-size-space-000);
        color: var(--vapor-color-foreground-normal);
    }
    .text-input-npu94q5:-moz-read-only {
        background-color: var(--vapor-color-gray-050);
    }
    .text-input-npu94q5:read-only {
        background-color: var(--vapor-color-gray-050);
    }
    .text-input-npu94q5::-moz-placeholder {
        color: var(--vapor-color-foreground-hint);
    }
    .text-input-npu94q5::placeholder {
        color: var(--vapor-color-foreground-hint);
    }
    .text-input-npu94q5::-webkit-search-cancel-button {
        display: none;
    }
}
.typography-typography_display1-1iabosb0 {
    font-size: var(--vapor-typography-fontSize-1000);
    font-weight: var(--vapor-typography-fontWeight-800);
    line-height: var(--vapor-typography-lineHeight-1000);
    letter-spacing: var(--vapor-typography-letterSpacing-400);
}
.typography-typography_display2-1iabosb1 {
    font-size: var(--vapor-typography-fontSize-900);
    font-weight: var(--vapor-typography-fontWeight-800);
    line-height: var(--vapor-typography-lineHeight-900);
    letter-spacing: var(--vapor-typography-letterSpacing-400);
}
.typography-typography_display3-1iabosb2 {
    font-size: var(--vapor-typography-fontSize-800);
    font-weight: var(--vapor-typography-fontWeight-800);
    line-height: var(--vapor-typography-lineHeight-800);
    letter-spacing: var(--vapor-typography-letterSpacing-400);
}
.typography-typography_display4-1iabosb3 {
    font-size: var(--vapor-typography-fontSize-700);
    font-weight: var(--vapor-typography-fontWeight-800);
    line-height: var(--vapor-typography-lineHeight-700);
    letter-spacing: var(--vapor-typography-letterSpacing-400);
}
.typography-typography_heading1-1iabosb4 {
    font-size: var(--vapor-typography-fontSize-600);
    font-weight: var(--vapor-typography-fontWeight-700);
    line-height: var(--vapor-typography-lineHeight-600);
    letter-spacing: var(--vapor-typography-letterSpacing-400);
}
.typography-typography_heading2-1iabosb5 {
    font-size: var(--vapor-typography-fontSize-500);
    font-weight: var(--vapor-typography-fontWeight-700);
    line-height: var(--vapor-typography-lineHeight-500);
    letter-spacing: var(--vapor-typography-letterSpacing-400);
}
.typography-typography_heading3-1iabosb6 {
    font-size: var(--vapor-typography-fontSize-400);
    font-weight: var(--vapor-typography-fontWeight-700);
    line-height: var(--vapor-typography-lineHeight-400);
    letter-spacing: var(--vapor-typography-letterSpacing-300);
}
.typography-typography_heading4-1iabosb7 {
    font-size: var(--vapor-typography-fontSize-300);
    font-weight: var(--vapor-typography-fontWeight-700);
    line-height: var(--vapor-typography-lineHeight-300);
    letter-spacing: var(--vapor-typography-letterSpacing-200);
}
.typography-typography_heading5-1iabosb8 {
    font-size: var(--vapor-typography-fontSize-200);
    font-weight: var(--vapor-typography-fontWeight-700);
    line-height: var(--vapor-typography-lineHeight-200);
    letter-spacing: var(--vapor-typography-letterSpacing-100);
}
.typography-typography_heading6-1iabosb9 {
    font-size: var(--vapor-typography-fontSize-100);
    font-weight: var(--vapor-typography-fontWeight-500);
    line-height: var(--vapor-typography-lineHeight-100);
    letter-spacing: var(--vapor-typography-letterSpacing-100);
}
.typography-typography_subtitle1-1iabosba {
    font-size: var(--vapor-typography-fontSize-075);
    font-weight: var(--vapor-typography-fontWeight-500);
    line-height: var(--vapor-typography-lineHeight-075);
    letter-spacing: var(--vapor-typography-letterSpacing-100);
}
.typography-typography_subtitle2-1iabosbb {
    font-size: var(--vapor-typography-fontSize-050);
    font-weight: var(--vapor-typography-fontWeight-500);
    line-height: var(--vapor-typography-lineHeight-050);
    letter-spacing: var(--vapor-typography-letterSpacing-000);
}
.typography-typography_body1-1iabosbc {
    font-size: var(--vapor-typography-fontSize-100);
    font-weight: var(--vapor-typography-fontWeight-400);
    line-height: var(--vapor-typography-lineHeight-100);
    letter-spacing: var(--vapor-typography-letterSpacing-100);
}
.typography-typography_body2-1iabosbd {
    font-size: var(--vapor-typography-fontSize-075);
    font-weight: var(--vapor-typography-fontWeight-400);
    line-height: var(--vapor-typography-lineHeight-075);
    letter-spacing: var(--vapor-typography-letterSpacing-100);
}
.typography-typography_body3-1iabosbe {
    font-size: var(--vapor-typography-fontSize-050);
    font-weight: var(--vapor-typography-fontWeight-400);
    line-height: var(--vapor-typography-lineHeight-050);
    letter-spacing: var(--vapor-typography-letterSpacing-100);
}
.typography-typography_body4-1iabosbf {
    font-size: var(--vapor-typography-fontSize-025);
    font-weight: var(--vapor-typography-fontWeight-400);
    line-height: var(--vapor-typography-lineHeight-025);
    letter-spacing: var(--vapor-typography-letterSpacing-000);
}
.typography-typography_code1-1iabosbg {
    font-size: var(--vapor-typography-fontSize-075);
    font-weight: var(--vapor-typography-fontWeight-400);
    line-height: var(--vapor-typography-lineHeight-075);
    letter-spacing: var(--vapor-typography-letterSpacing-000);
}
.typography-typography_code2-1iabosbh {
    font-size: var(--vapor-typography-fontSize-050);
    font-weight: var(--vapor-typography-fontWeight-400);
    line-height: var(--vapor-typography-lineHeight-050);
    letter-spacing: var(--vapor-typography-letterSpacing-000);
}
.foreground-foreground_primary-1vpce5a0 {
    color: var(--vapor-color-foreground-primary);
}
.foreground-foreground_primary-darker-1vpce5a1 {
    color: var(--vapor-color-foreground-primary-darker);
}
.foreground-foreground_secondary-1vpce5a2 {
    color: var(--vapor-color-foreground-secondary);
}
.foreground-foreground_secondary-darker-1vpce5a3 {
    color: var(--vapor-color-foreground-secondary-darker);
}
.foreground-foreground_success-1vpce5a4 {
    color: var(--vapor-color-foreground-success);
}
.foreground-foreground_success-darker-1vpce5a5 {
    color: var(--vapor-color-foreground-success-darker);
}
.foreground-foreground_warning-1vpce5a6 {
    color: var(--vapor-color-foreground-warning);
}
.foreground-foreground_warning-darker-1vpce5a7 {
    color: var(--vapor-color-foreground-warning-darker);
}
.foreground-foreground_danger-1vpce5a8 {
    color: var(--vapor-color-foreground-danger);
}
.foreground-foreground_danger-darker-1vpce5a9 {
    color: var(--vapor-color-foreground-danger-darker);
}
.foreground-foreground_hint-1vpce5aa {
    color: var(--vapor-color-foreground-hint);
}
.foreground-foreground_hint-darker-1vpce5ab {
    color: var(--vapor-color-foreground-hint-darker);
}
.foreground-foreground_contrast-1vpce5ac {
    color: var(--vapor-color-foreground-contrast);
}
.foreground-foreground_contrast-darker-1vpce5ad {
    color: var(--vapor-color-foreground-contrast-darker);
}
.foreground-foreground_normal-1vpce5ae {
    color: var(--vapor-color-foreground-normal);
}
.foreground-foreground_normal-lighter-1vpce5af {
    color: var(--vapor-color-foreground-normal-lighter);
}
.foreground-foreground_accent-1vpce5ag {
    color: var(--vapor-color-foreground-accent);
}
.foreground-foreground_accent-darker-1vpce5ah {
    color: var(--vapor-color-foreground-accent-darker);
}
/*# sourceMappingURL=index.css.map */
