name: "Release Packages"

on:
    push:
        paths:
            - ".changeset/**"
            - "packages/**"
        branches:
            - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
    release:
        name: Release
        runs-on: ubuntu-latest
        steps:
            - name: Checkout branch
              uses: actions/checkout@v4

            - name: Install
              uses: ./.github/composite/install

            - name: Create .npmrc file
              run: |
                  cat << EOF > "$HOME/.npmrc"
                    //registry.npmjs.org/:_authToken=${NPM_TOKEN}
                  EOF
              env:
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

            - name: Create Release Pull Request or Publish to npm
              id: changesets
              uses: changesets/action@v1
              with:
                  publish: pnpm run release
                  version: pnpm run version
                  commit: "ci(changesets): version packages"
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            - name: Update releases documentation
              if: steps.changesets.outputs.published == 'false'
              run: node scripts/update-releases.mjs

            - name: Format releases documentation
              if: steps.changesets.outputs.published == 'false'
              run: pnpm prettier --write apps/website/content/docs/getting-started/releases.md

            - name: Commit updated releases documentation
              if: steps.changesets.outputs.published == 'false'
              run: |
                  if [[ -n $(git status --porcelain) ]]; then
                      git add apps/website/content/docs/getting-started/releases.md
                      git commit -m "docs: update releases.md with latest changelogs"
                      git push --set-upstream origin changeset-release/main
                  fi
